.nopage
    .container
        .nopage__wrapper
            .nopage__img-wrapper
                .nopage__img
            .nopage__info
                span.nopage__text Нажаль, сторінки,<br> яку ви шукаєте, не існує!
                a(href="#").btn
                    span повернутися на головну
                    +icon("btn-bg")