.addphoto
    .container
        .addphoto__wrapper
            h2.addphoto__title Завантаження фотографій
            form.addphoto-form#addphotoform
                .addphoto__content
                    .addphoto__window
                        .addphoto__preview
                            img#photo-preview(src='', alt='')
                        label
                            .addphoto__window-text
                                i
                                    +icon("camera")
                                span Оберіть файл
                                input(type="file" max="1" accept="image/*" name="photoname" id="newphoto").js-addphoto.addphoto__newphoto
                        a(href="#").addphoto__delphoto.js-delphoto Видалити фото
                            i
                                +icon("close")
                    .addphoto__data
                        .addphoto__data-row
                            span.addphoto__data-name Назва:
                            input(type="text" name="name" placeholder="").addphoto__data-input
                        .addphoto__data-row
                            span.addphoto__data-name Дата:
                            .addphoto__date
                                input(type="text" name="date" placeholder="" id="datepicker").addphoto__data-input
                        .addphoto__data-row
                            span.addphoto__data-name Джерело:
                            input(type="text" name="source" placeholder="").addphoto__data-input
                        .addphoto__data-row
                            span.addphoto__data-name Місце:
                            input(type="text" name="place" placeholder="").addphoto__data-input
                        .addphoto__data-row
                            span.addphoto__data-name Короткий опис:
                            textarea(name="short-description" placeholder="").addphoto__data-input
                .addphoto__text
                    span.addphoto__text-title Опис:
                    textarea(name="description" placeholder="").addphoto__data-input
                .addphoto__addtags
                    span.addphoto__addtags-title Додати теги:
                    .addphoto__addtags-content
                        input(type="text" name="addtags" placeholder="Наберiть наступний тег для перевiрки")
                        span.addphoto__addtags-text Додати тег
                            i
                                +icon("ico-add")
                        //span.addphoto__addtags-text-bottom Тегiв за запитом не знайдено
                    .addphoto__tags
                        .tags
                            span(data-tag="tag1").tags__item #конюх
                            span(data-tag="tag2").tags__item #коневодство
                            span(data-tag="tag3").tags__item #лошадь
                            span(data-tag="tag4").tags__item #высокие_сапоги
                            span(data-tag="tag5").tags__item #зипун
                            span(data-tag="tag6").tags__item #картуз
                            span(data-tag="tag7").tags__item #высокие_сапоги
                            span(data-tag="tag8").tags__item #зипун
                            span(data-tag="tag9").tags__item #картуз
                .addphoto__btns
                    a(href="#").btn#add-photo-btn
                        span Додати
                        +icon("btn-bg")
                    a(href="#").btn#add-next-btn
                        span Додати та продовжити
                        +icon("btn-bg")