.stories
    .container
        .stories__wrapper
            h2.stories__title Завантаження історії
            form.stories__new
                .addphoto__window
                    .addphoto__preview
                        img#photo-preview(src='', alt='')
                    label
                        .addphoto__window-text
                            i
                                +icon("camera")
                            span Оберіть файл
                            input(type="file" max="1" accept="image/*" name="photoname" id="newphoto").js-addphoto.addphoto__newphoto
                    a(href="#").addphoto__delphoto.js-delphoto Видалити фото
                        i
                            +icon("close")
                .stories__new-info
                    .stories__new-inputs
                        .addphoto__data-row
                            span.addphoto__data-name Назва:
                            input(type="text" name="name" placeholder="").addphoto__data-input
                        .addphoto__data-row
                            span.addphoto__data-name Опис:
                            textarea(name="short-description" placeholder="" id="text-editor").addphoto__data-input.stories__new-textarea
                    .addphoto__btns
                        a(href="#").btn#add-photo-btn
                            span Додати
                            +icon("btn-bg")
                        a(href="#").btn#add-next-btn
                            span Додати та продовжити
                            +icon("btn-bg")