.cabinet
    .container
        .cabinet__wrapper
            h2.cabinet__title Особистий кабінет
            .cabinet__content
                .cabinet__info
                    .addphoto__window
                        .addphoto__preview
                            img#photo-preview(src='./img/cabinet.png', alt='')
                        label
                            .addphoto__window-text
                                i
                                    +icon("camera")
                                span Змінити фото
                                input(type="file" max="1" accept="image/*" name="photoname" id="newphoto").js-addphoto.addphoto__newphoto
                        a(href="#").addphoto__delphoto.js-delphoto Видалити фото
                            i
                                +icon("close")
                    .cabinet__infoblock
                        .cabinet__data
                            .cabinet__data-row
                                b ПIБ:
                                span Яна Розенблiт
                            .cabinet__data-row
                                b Дата народження:
                                span 12 грудня
                            .cabinet__data-row
                                b Мiсто:
                                span Хмельницький
                            .cabinet__data-row
                                b Тел:
                                span
                                    a(href="tel:0681722042") 068 172 20 42
                            .cabinet__data-row
                                b Пошта:
                                span
                                    a(href="mailto:yana.bondar@avivi.com.ua") yana.bondar@avivi.com.ua
                            .cabinet__data-row
                                b Facebook:
                                span
                                    a(href="https://www.facebook.com/yana.rozenblit") @yana.rozenblit
                            .cabinet__data-row
                                b Google:
                                span
                                    a(href="mailto:yana.rozenblit@gmail.com") yana.rozenblit@gmail.com
                        a(href="#").cabinet__edit-link Редагувати мої дані
                            i
                                +icon("edit")
                .cabinet__btns
                    a(href="#").btn
                        span Додати фото
                        +icon("btn-bg")
                    a(href="#").btn
                        span Додати документ
                        +icon("btn-bg")
                    a(href="#").btn
                        span Додати історію
                        +icon("btn-bg")
            .cabinet__tabs
                .tab
                    .tab__wrapper.js-tab
                        .tab__item.active
                            span фото (957)
                        .tab__item
                            span документи (58)
                        .tab__item
                            span истории (2)
                    .tab__content
                        .tab__content-item.active
                            .tab__item
                                span фото (957)
                            .popular-categories__content
                                a(href="#").popular-categories__content-item
                                    .popular-categories__content-img
                                        img(src="./img/popular/pop-photo-1.png" alt="")
                                    .popular-categories__content-text
                                        span Історія Українських <br>Мазур Фото 1
                                    .cabinet__photo-control
                                        object
                                            a(href="#").cabinet__photo-control-edit
                                                +icon("edit")
                                            a(href="#").cabinet__photo-control-remove
                                                +icon("basket")
                                a(href="#").popular-categories__content-item
                                    .popular-categories__content-img
                                        img(src="./img/popular/pop-photo-2.png" alt="")
                                    .popular-categories__content-text
                                        span Слідами українських Мазур
                                    .cabinet__photo-control
                                        object
                                            a(href="#").cabinet__photo-control-edit
                                                +icon("edit")
                                            a(href="#").cabinet__photo-control-remove
                                                +icon("basket")
                                a(href="#").popular-categories__content-item
                                    .popular-categories__content-img
                                        img(src="./img/popular/pop-photo-3.png" alt="")
                                    .popular-categories__content-text
                                        span Слідами українських Мазур
                                    .cabinet__photo-control
                                        object
                                            a(href="#").cabinet__photo-control-edit
                                                +icon("edit")
                                            a(href="#").cabinet__photo-control-remove
                                                +icon("basket")
                                a(href="#").popular-categories__content-item
                                    .popular-categories__content-img
                                        img(src="./img/popular/pop-photo-4.png" alt="")
                                    .popular-categories__content-text
                                        span Dom Ludowy
                                    .cabinet__photo-control
                                        object
                                            a(href="#").cabinet__photo-control-edit
                                                +icon("edit")
                                            a(href="#").cabinet__photo-control-remove
                                                +icon("basket")
                                a(href="#").popular-categories__content-item
                                    .popular-categories__content-img
                                        img(src="./img/popular/pop-photo-5.png" alt="")
                                    .popular-categories__content-text
                                        span Гарна природа
                                    .cabinet__photo-control
                                        object
                                            a(href="#").cabinet__photo-control-edit
                                                +icon("edit")
                                            a(href="#").cabinet__photo-control-remove
                                                +icon("basket")
                                a(href="#").popular-categories__content-item
                                    .popular-categories__content-img
                                        img(src="./img/popular/pop-photo-6.png" alt="")
                                    .popular-categories__content-text
                                        span Гарна природа
                                    .cabinet__photo-control
                                        object
                                            a(href="#").cabinet__photo-control-edit
                                                +icon("edit")
                                            a(href="#").cabinet__photo-control-remove
                                                +icon("basket")
                                a(href="#").popular-categories__content-item
                                    .popular-categories__content-img
                                        img(src="./img/popular/pop-photo-7.png" alt="")
                                    .popular-categories__content-text
                                        span Правдива iсторiя <br>одноi родини
                                    .cabinet__photo-control
                                        object
                                            a(href="#").cabinet__photo-control-edit
                                                +icon("edit")
                                            a(href="#").cabinet__photo-control-remove
                                                +icon("basket")
                                a(href="#").popular-categories__content-item
                                    .popular-categories__content-img
                                        img(src="./img/popular/pop-photo-8.png" alt="")
                                    .popular-categories__content-text
                                        span Родина мазурів. <br>Світлина ХХ століття
                                    .cabinet__photo-control
                                        object
                                            a(href="#").cabinet__photo-control-edit
                                                +icon("edit")
                                            a(href="#").cabinet__photo-control-remove
                                                +icon("basket")
                                a(href="#").popular-categories__content-item
                                    .popular-categories__content-img
                                        img(src="./img/popular/pop-photo-5.png" alt="")
                                    .popular-categories__content-text
                                        span Гарна природа
                                    .cabinet__photo-control
                                        object
                                            a(href="#").cabinet__photo-control-edit
                                                +icon("edit")
                                            a(href="#").cabinet__photo-control-remove
                                                +icon("basket")
                                a(href="#").popular-categories__content-item
                                    .popular-categories__content-img
                                        img(src="./img/popular/pop-photo-6.png" alt="")
                                    .popular-categories__content-text
                                        span Гарна природа
                                    .cabinet__photo-control
                                        object
                                            a(href="#").cabinet__photo-control-edit
                                                +icon("edit")
                                            a(href="#").cabinet__photo-control-remove
                                                +icon("basket")
                                a(href="#").popular-categories__content-item
                                    .popular-categories__content-img
                                        img(src="./img/popular/pop-photo-7.png" alt="")
                                    .popular-categories__content-text
                                        span Правдива iсторiя <br>одноi родини
                                    .cabinet__photo-control
                                        object
                                            a(href="#").cabinet__photo-control-edit
                                                +icon("edit")
                                            a(href="#").cabinet__photo-control-remove
                                                +icon("basket")
                                a(href="#").popular-categories__content-item
                                    .popular-categories__content-img
                                        img(src="./img/popular/pop-photo-8.png" alt="")
                                    .popular-categories__content-text
                                        span Родина мазурів. <br>Світлина ХХ століття
                                    .cabinet__photo-control
                                        object
                                            a(href="#").cabinet__photo-control-edit
                                                +icon("edit")
                                            a(href="#").cabinet__photo-control-remove
                                                +icon("basket")
                            .cabinet__pagination
                                .pagination(data-pagination="1")
                                    a(href="#").pagination__item.active 1
                                    a(href="#").pagination__item 2
                                    a(href="#").pagination__item 3
                                    a(href="#").pagination__item 4
                                    a(href="#").pagination__item.interval ...
                                    a(href="#").pagination__item 350
                        .tab__content-item
                            .tab__item
                                span документи (58)
                            span Документів немає
                        .tab__content-item
                            .tab__item
                                span истории (2)
                            .cabinet__stories
                                a(href="#").stories__item
                                    .stories__img
                                        img(src="" alt="")
                                    .stories__info
                                        h3.stories__item-title МОН перевірить, на що пішли гроші, виділені на кабінети української мови для шкіл нацменшин
                                        p.stories__text Міністерство освіти і науки України промоніторить, <b>як на місцях були використані кошти на обладнання кабінетів української мови</b> у школах з вивченням мов національних меншин – чи були вони витрачені саме на те, що потрібно вчителю для покращення якості викладання.
                                        .cabinet__stories-btns
                                            object
                                                a(href="#").cabinet__btn-edit Редагувати
                                                    i
                                                        +icon("edit")
                                                a(href="#").cabinet__btn-remove Видалити
                                                    i
                                                        +icon("basket")
                                a(href="#").stories__item.stories__item--img
                                    .stories__img
                                        img(src="./img/stories/img-stories-1.png" alt="")
                                    .stories__info
                                        h3.stories__item-title В ОБСЄ заявили, що український закон про державну мову не повністю гарантує захист мовних прав національних меншин
                                        p.stories__text Верховний комісар ОБСЄ з питань нацменшин Ламберто Заньєр заявив в ООН, що <b>Україна має право зміцнювати роль державної мови, якщо це не шкодить правам національних меншин</b>.
                                        .cabinet__stories-btns
                                            object
                                                a(href="#").cabinet__btn-edit Редагувати
                                                    i
                                                        +icon("edit")
                                                a(href="#").cabinet__btn-remove Видалити
                                                    i
                                                        +icon("basket")
                            .cabinet__pagination.cabinet__pagination--stories
                                .pagination(data-pagination="1")
                                    a(href="#").pagination__item.active 1
                                    a(href="#").pagination__item 2