.cabinet.cabinet-edit
    .container
        .cabinet-edit__wrapper
            h2.cabinet-edit__title.cabinet__title Особистий кабінет
            form.cabinet__info
                .cabinet-edit__content
                    .addphoto__window
                        .addphoto__preview
                            img#photo-preview(src='./img/no-userpic.png', alt='')
                        label
                            .addphoto__window-text
                                i
                                    +icon("camera")
                                span Змінити фото
                                input(type="file" max="1" accept="image/*" name="photoname" id="newphoto").js-addphoto.addphoto__newphoto
                        a(href="#").addphoto__delphoto.js-delphoto Видалити фото
                            i
                                +icon("close")
                    .addphoto__data
                        .addphoto__data-row
                            span.addphoto__data-name ПІБ:
                            input(type="text" name="name" placeholder="").addphoto__data-input
                        .addphoto__data-row
                            span.addphoto__data-name Дата народження:
                            .addphoto__date
                                input(type="text" name="date" placeholder="" id="datepicker").addphoto__data-input
                        .addphoto__data-row
                            span.addphoto__data-name Місто:
                            input(type="text" name="town" placeholder="").addphoto__data-input
                        .addphoto__data-row
                            span.addphoto__data-name Тел:
                            input(type="text" name="tel" placeholder="").addphoto__data-input.js-mask
                        .addphoto__data-row
                            span.addphoto__data-name Пошта:
                            input(type="text" name="email" placeholder="").addphoto__data-input
                        .addphoto__data-row
                            span.addphoto__data-name Facebook:
                            input(type="text" name="facebook" placeholder="").addphoto__data-input
                        .addphoto__data-row
                            span.addphoto__data-name Google:
                            input(type="text" name="google" placeholder="").addphoto__data-input
                .cabinet-edit__btn
                    a(href="#").btn
                        span Зберегти
                        +icon("btn-bg")