.catalog
    .container
        .catalog__wrapper
            h2.catalog__title Каталог фото
            .popular-categories.catalog__content
                .popular-categories__content
                    .catalog__tag-view.js-tags-remove
                        span.catalog__tag-view-title Ви дивитесь:
                        span(data-tag="tag1").tags__item.tags__del #курорт
                            i
                                +icon("close")
                        span(data-tag="tag2").tags__item.tags__del #коневодство
                            i
                                +icon("close")
                        span(data-tag="tag3").tags__item.tags__del #лошадь
                            i
                                +icon("close")
                        span(data-tag="tag4").tags__item.tags__del #высокие_сапоги
                            i
                                +icon("close")
                        span(data-tag="tag5").tags__item.tags__del #зипун
                            i
                                +icon("close")
                        span(data-tag="tag6").tags__item.tags__del #картуз
                            i
                                +icon("close")
                        span(data-tag="tag7").tags__item.tags__del #панорама_города
                            i
                                +icon("close")
                        span(data-tag="tag8").tags__item.tags__del #обелиск_Петру_I
                            i
                                +icon("close")
                        span(data-tag="tag9").tags__item.tags__del #липецкие_минеральные_воды
                            i
                                +icon("close")
                        span(data-tag="tag10").tags__item.tags__del #картуз
                            i
                                +icon("close")
                        a(href="#").catalog__tagsremove.js-alltagsremove Видалити всi теги
                            i
                                +icon("close")
                    .catalog__photo
                        a(href="#").popular-categories__content-item
                            .popular-categories__content-img
                                img(src="./img/photo/photo-1.png" alt="")
                            .popular-categories__content-text
                                span Історія Українських <br>Мазур Фото 1
                            .popular-categories__content-text.popular-categories__content-text--hover
                                span Історія Українських <br>Мазур Фото 1
                        a(href="#").popular-categories__content-item
                            .popular-categories__content-img
                                img(src="./img/photo/photo-2.png" alt="")
                            .popular-categories__content-text
                                span Слідами українських Мазур
                            .popular-categories__content-text.popular-categories__content-text--hover
                                span Слідами українських Мазур
                        a(href="#").popular-categories__content-item
                            .popular-categories__content-img
                                img(src="./img/photo/photo-3.png" alt="")
                            .popular-categories__content-text
                                span Слідами українських Мазур
                            .popular-categories__content-text.popular-categories__content-text--hover
                                span Слідами українських Мазур
                        a(href="#").popular-categories__content-item
                            .popular-categories__content-img
                                img(src="./img/photo/photo-4.png" alt="")
                            .popular-categories__content-text
                                span Dom Ludowy
                            .popular-categories__content-text.popular-categories__content-text--hover
                                span Dom Ludowy
                        a(href="#").popular-categories__content-item
                            .popular-categories__content-img
                                img(src="./img/photo/photo-5.png" alt="")
                            .popular-categories__content-text
                                span Гарна природа
                            .popular-categories__content-text.popular-categories__content-text--hover
                                span Гарна природа
                        a(href="#").popular-categories__content-item
                            .popular-categories__content-img
                                img(src="./img/photo/photo-6.png" alt="")
                            .popular-categories__content-text
                                span Гарна природа
                            .popular-categories__content-text.popular-categories__content-text--hover
                                span Гарна природа
                        a(href="#").popular-categories__content-item
                            .popular-categories__content-img
                                img(src="./img/photo/photo-7.png" alt="")
                            .popular-categories__content-text
                                span Правдива iсторiя <br>одноi родини
                            .popular-categories__content-text.popular-categories__content-text--hover
                                span Правдива iсторiя <br>одноi родини
                        a(href="#").popular-categories__content-item
                            .popular-categories__content-img
                                img(src="./img/photo/photo-8.png" alt="")
                            .popular-categories__content-text
                                span Родина мазурів. <br>Світлина ХХ століття
                            .popular-categories__content-text.popular-categories__content-text--hover
                                span Родина мазурів. <br>Світлина ХХ століття
                        a(href="#").popular-categories__content-item
                            .popular-categories__content-img
                                img(src="./img/photo/photo-9.png" alt="")
                            .popular-categories__content-text
                                span Гарна природа
                            .popular-categories__content-text.popular-categories__content-text--hover
                                span Гарна природа
                    .catalog__control
                        .catalog__control-more
                            a(href="#").btn
                                span показати ще
                                +icon("btn-bg")
                        .catalog__control-pagination
                            .pagination(data-pagination="1")
                                a(href="#").pagination__item.first.unactive
                                    +icon("pagination-arrows")
                                a(href="#").pagination__item.active 1
                                a(href="#").pagination__item 2
                                a(href="#").pagination__item 3
                                a(href="#").pagination__item 4
                                a(href="#").pagination__item.interval ...
                                a(href="#").pagination__item 350
                                a(href="#").pagination__item.last
                                    +icon("pagination-arrows")
                .popular-categories__aside
                    h3.popular-categories__aside-title Популярні Категорії
                    .popular-categories__aside-tags.tags.js-tags
                        span(data-tag="tag1").tags__item.active #конюх
                        span(data-tag="tag2").tags__item #коневодство
                        span(data-tag="tag3").tags__item #лошадь
                        span(data-tag="tag4").tags__item #высокие_сапоги
                        span(data-tag="tag5").tags__item #зипун
                        span(data-tag="tag6").tags__item #картуз
                        span(data-tag="tag7").tags__item #панорама_города
                        span(data-tag="tag8").tags__item #обелиск_Петру_I
                        span(data-tag="tag9").tags__item #липецкие_минеральные_воды
                        span(data-tag="tag10").tags__item #картуз
                        span(data-tag="tag11").tags__item #присторождественский_собор_в_Липецке
                        span(data-tag="tag12").tags__item #городские_здания
                        span(data-tag="tag13").tags__item #поводья
                        span(data-tag="tag13").tags__item #утраченная_церковь
                        span(data-tag="tag7").tags__item.hidden #панорама_города
                        span(data-tag="tag8").tags__item.hidden #обелиск_Петру_I
                        span(data-tag="tag9").tags__item.hidden #липецкие_минеральные_воды
                        span(data-tag="tag10").tags__item.hidden #картуз
                        span(data-tag="tag12").tags__item.hidden #городские_здания
                        span(data-tag="tag13").tags__item.hidden #поводья
                        span(data-tag="tag13").tags__item.hidden #утраченная_церковь
                    a(href="#").link-btn.catalog__alltags.js-showalltags Показати всi теги
