.detail
    .container
        .detail__wrapper
            h2.detail__title Історія Українських Мазур - Назва Фото
            .detail__head
                .detail__head-photo
                    //сюда ложим большое фото
                    a(data-fancybox="gallery" href="./img/detail-photo.png").detail__head-item
                        //сюда ложим маленькое фото
                        img(src="./img/detail-photo.png" alt="")
                        i.detail__zoom
                            +icon("ico-search")
                .detail__head-history
                    .detail__history-wrapper
                        .detail__control
                            a(href="#").detail__control-prev
                                i
                                    +icon("slider-prev")
                                span Попереднє<br>Фото

                            a(href="#").detail__control-next
                                span Наступне<br>Фото
                                i
                                    +icon("slider-next")
                        p.detail__subtitle Сатанів – селище міського типу на Хмельниччині. Тут буде дуже короткий опис.
                        .detail__info
                            span <b>Дата:</b>
                                span 1967 р.
                            span <b>Джерело:</b>
                                span Архiв
                            span <b>Мiсце:</b>
                                span Хмельницький
                            span <b>Автор:</b>
                                a(href="#") Мельник Петро
                    .detail__share
                        a(href="#").detail__share-item.detail__share-item--fb
                            i
                                +icon("ico-fb")
                            span Share
                        a(href="#").detail__share-item.detail__share-item--inst
                            i
                                +icon("ico-inst")
                            span Post
            h2.detail__description-title Опис
            .detail__bottom
                .detail__description
                    h2.detail__description-title.mobile Опис
                    .detail__description-text
                        p Часто люди недооцінюють красу, котру може запропонувати Україна тим, хто насмілиться нею подорожувати. Не лише закордонна Європа володіє цікавими, привабливими містами та селами. Варто лише поглянути на будь яку частину України і ви обов'язково знайдете щось чарівне. Не виключенням є й Хмельниччина, до котрої ми сьогодні й звернемось у пошуках привабливих, мальовничих місцин.
                        p Перша згадка про містечко <b>Сатанів</b> з’явилась ще у 1404 року. Окрім колоритної назви місто має також дуже навіть вражаючу архітектурну спадщину. Вежа Одровонжа – найстаріша споруда, що збереглася у <b>Сатанові</b>. Не далеко є старовинна кам’яна синагога.
                        p <b>Тарноруда – настільки маленьке селище, що здивуватись не важко. Тут проживає менше тисячі людей і, особисто мене, такі місцини завжди заманювали…</b>
                        p Головною окрасою містечка є Тарнорудський Костел, збудований в XVI столітті. Костел нищився кілька разів, в тому числі й в «радянський» період. В 90-х роках він активно відновлювався. Одною із головних цікавинок костелу був герб засновників храму, на сьогодні він зберігся погано, але все ще на місці. Також костел прикрашають оригінальні дубові двері.
                    .detail__comments
                        h3.detail__comments-title
                            span(id="detail__comments-count") 3
                            span Коментарi
                        .comments
                            .comments__item
                                .comments__img
                                    img(src="./img/comment-photo-1.png" alt="")
                                .comments__info
                                    .comments__name
                                        span Yana Rozenblit
                                    .comments__text
                                        span Кому бесплатно котика, Хмельницький! <br>Смотрите на этих няшных жопсиков, а лучше берите себе
                            .comments__item
                                .comments__img
                                    img(src="./img/comment-photo-3.png" alt="")
                                .comments__info
                                    .comments__name
                                        span Nastia Kondratyuk
                                    .comments__text
                                        span Pure Perfection <br>#rogerwaters #usandthem
                            .comments__item
                                .comments__img
                                    img(src="./img/comment-photo-2.png" alt="")
                                .comments__info
                                    .comments__name
                                        span Vadym Bondar
                                    .comments__text
                                        span це був прекрасний час/it was a great time! <br>дякую усім причетним! special thanks to Cisco & The Racecars
                        form.detail__com-form#validate-detail-comment
                            .detail__com-textarea-wrapper
                                textarea(placeholder="Ваш коментар" name="comment").detail__com-textarea
                            a(href="#").btn.detail__com-btn.js-detail-add-com
                                span коментувати
                                +icon("btn-bg")
                            a(href="#").btn.detail__com-btn.js-popup
                                span попап
                                +icon("btn-bg")
                .detail__tags
                    .tags.js-tags
                        span(data-tag="tag1").tags__item.active #конюх
                        span(data-tag="tag2").tags__item #коневодство
                        span(data-tag="tag3").tags__item #лошадь
                        span(data-tag="tag4").tags__item #высокие_сапоги
                        span(data-tag="tag5").tags__item #зипун
                        span(data-tag="tag11").tags__item #присторождественский_собор_в_Липецке
                        span(data-tag="tag12").tags__item #городские_здания
                        span(data-tag="tag13").tags__item #поводья
                        span(data-tag="tag14").tags__item #деревянные_дома
                        span(data-tag="tag15").tags__item #городской_пейзаж