footer.wrapper.footer#footer
    .container
        .footer__wrapper
            a(href="/").footer__logo
                span Історія Українських Мазур
                +icon("logo")
            .footer__center
                .footer__menu
                    .footer__submenu
                        a(href="#") Фото
                        a(href="#") Документи
                        a(href="#") Загальна історія
                    .footer__submenu
                        a(href="#") Родинні історії
                        a(href="#") Про проект
                        a(href="#") Джерела
                .footer__sponsors
                    a(href="#").footer__sponsors-item.footer__sponsors-item--ukrdim
                        +icon("ukr-logo")
                    a(href="#").footer__sponsors-item.footer__sponsors-item--ploskiriv
                        +icon("ploskiriv-logo")
            .footer__soc
                span.footer__soc-title Ми в мережах:
                .footer__soc-wrapper
                    a(href="#").footer__soc-item.footer__soc-item--fb
                        +icon("ico-fb")
                    a(href="#").footer__soc-item.footer__soc-item--inst
                        +icon("ico-inst")
                    a(href="#").footer__soc-item.footer__soc-item--yt
                        +icon("ico-yt")