//add to .header class .authorized for authorized users
header.header#header.authorized
    .container
        .header__wrapper
            .header__wrapper-left
                .header__menu#nav-icon
                    span
                    span
                    span
                    span
                    span
                    span
                a.header__logo(href="/")
                    +icon("logo")
                a.header__logo-mobile(href="/") Історія Українських Мазур
                .header__content
                    nav.menu
                        .menu__item.menu__submenu
                            a(href="#").menu__link Історія Мазур
                            ul.menu__sublist
                                li
                                    a.menu__sublist-link(href="#") Iсторії Мазур з Гречан
                                li
                                    a.menu__sublist-link(href="#") Iсторії Мазур з Плоскірова
                                li
                                    a.menu__sublist-link(href="#") Iсторії Мазур з Мацьківець
                                li
                                    a.menu__sublist-link(href="#") Iсторії Мазур з Шаровечки
                        .menu__item
                            a(href="catalog.html").menu__link Фото
                        .menu__item
                            a(href="#").menu__link Документи
                        .menu__item.menu__submenu
                            a(href="#").menu__link Родинні історії
                            ul.menu__sublist
                                li
                                    a(href="#").menu__sublist-link Iсторії Мазур з Гречан
                                li
                                    a(href="#").menu__sublist-link Iсторії Мазур з Плоскірова
                                li
                                    a(href="#").menu__sublist-link Iсторії Мазур з Мацьківець
                                li
                                    a(href="#").menu__sublist-link Iсторії Мазур з Шаровечки
                        .menu__item
                            a(href="#").menu__link Про проект
                        .menu__item
                            a(href="#").menu__link Джерела
                        .header__info-mobile
                            .header__info-mobile-container
                                .header__login
                                    a(href="#" data-popup="popup-login").login-btn.js-popup вхід
                                .header__authorized
                                    .userpic.js-user
                                        .userpic__img
                                            img(src="./img/userpic.png" alt="")
                                        .userpic__info
                                            span.userpic__text.first-name Yevgeny
                                            span.userpic__text.last-name Oleksyuk
                                        .userpic__menu
                                            a(href="#").userpic__menu-item Особисті дані
                                            a(href="#").userpic__menu-item Мої фото
                                            a(href="#").userpic__menu-item Мої документи
                                            a(href="#").userpic__menu-item Мої історії
                                            a(href="#").userpic__menu-item.js-logout Вийти
                                .mobile-lng(data-lng="UA")
                                    .mobile-lng__item.js-mobile-lng.active
                                        span UA
                                    .mobile-lng__item.js-mobile-lng
                                        span PL
                    .header__content-bottom
                        form.header__search#search
                            input.header__search-input(type="search" name="search" id="header-search" placeholder="Пошук фото")
                            i.header__search-submit.js-search
                                +icon("ico-search")
                            i.header__search-close.js-search-close
                                +icon("close-small")
                        i.header__search-submit.header__search-submit--mobile.js-search-mobile
                            +icon("ico-search")
                        .header__lang
                            a(href="#").header__lang-link
                                span#site-lang ua
                            ul.header__lang-list
                                li
                                    a(href="#") pl
            .header__wrapper-right
                .header__login
                    a(href="#" data-popup="popup-login").login-btn.js-popup вхід
                .header__authorized
                    .userpic.js-user
                        .userpic__img
                            img(src="./img/userpic.png" alt="")
                        .userpic__info
                            span.userpic__text.first-name Yevgeny
                            span.userpic__text.last-name Oleksyuk
                        .userpic__menu
                            a(href="#").userpic__menu-item Особисті дані
                            a(href="#").userpic__menu-item Мої фото
                            a(href="#").userpic__menu-item Мої документи
                            a(href="#").userpic__menu-item Мої історії
                            a(href="#").userpic__menu-item.js-logout Вийти
    .overlay
    .popup-window
        h2 Дякуємо<br> за Ваше повідомлення!
        span Ваше повідомлення буде опубліковано після перевірки модератором.
        a(href="#").btn
            span OK
            +icon("btn-bg")
        i.js-popup-close
            +icon("close")