.main#main-page
    .main__slider-block
        .main__slider-bg#bg-slider
            img(src="./img/main-bg-1.jpg" alt="")
            img(src="./img/main-bg-2.jpg" alt="")
        .main__slider-content
            .container
                .main__slider-box
                    #main-slider.main__slider
                        .main__slider-content-wrapper
                            h1.main__slider-title Заплутаними стежками <br>історії українських Мазур
                            h2.main__slider-subtitle Мить, що залишиться в пам’яті…
                            a(href="#").main__slider-btn.btn
                                span детально
                                +icon("btn-bg")
                        .main__slider-content-wrapper
                            h1.main__slider-title Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.
                            h2.main__slider-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            a(href="#").main__slider-btn.btn
                                span детально
                                +icon("btn-bg")
                    a(href="#" data-slider="slickPrev").js-slider-arrows.main__slider-arrows.prev
                        +icon("slider-prev")
                    a(href="#" data-slider="slickNext").js-slider-arrows.main__slider-arrows.next
                        +icon("slider-next")
    .main__popular-categories
        .container
            .popular-categories
                .popular-categories__content
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-1.png" alt="")
                        .popular-categories__content-text
                            span Історія Українських <br>Мазур Фото 1
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Історія Українських <br>Мазур Фото 1
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-2.png" alt="")
                        .popular-categories__content-text
                            span Слідами українських Мазур
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Слідами українських Мазур
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-3.png" alt="")
                        .popular-categories__content-text
                            span Слідами українських Мазур
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Слідами українських Мазур
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-4.png" alt="")
                        .popular-categories__content-text
                            span Dom Ludowy
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Dom Ludowy
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-5.png" alt="")
                        .popular-categories__content-text
                            span Гарна природа
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Гарна природа
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-6.png" alt="")
                        .popular-categories__content-text
                            span Гарна природа
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Гарна природа
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-7.png" alt="")
                        .popular-categories__content-text
                            span Правдива iсторiя <br>одноi родини
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Правдива iсторiя <br>одноi родини
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-8.png" alt="")
                        .popular-categories__content-text
                            span Родина мазурів. <br>Світлина ХХ століття
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Родина мазурів. <br>Світлина ХХ століття
                    a(href="#").popular-categories__content-item.popular-categories__btn
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-9.png" alt="")
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Дивитися усі фото
                .popular-categories__aside
                    h3.popular-categories__aside-title Популярні Категорії
                    .popular-categories__aside-tags.tags.js-tags
                        span(data-tag="tag1").tags__item.active #конюх
                        span(data-tag="tag2").tags__item #коневодство
                        span(data-tag="tag3").tags__item #лошадь
                        span(data-tag="tag4").tags__item #высокие_сапоги
                        span(data-tag="tag5").tags__item #зипун
                        span(data-tag="tag6").tags__item #картуз
                        span(data-tag="tag7").tags__item #панорама_города
                        span(data-tag="tag8").tags__item #обелиск_Петру_I
                        span(data-tag="tag9").tags__item #липецкие_минеральные_воды
                        span(data-tag="tag10").tags__item #картуз
                        span(data-tag="tag11").tags__item #присторождественский_собор_в_Липецке
                        span(data-tag="tag12").tags__item #городские_здания
                        span(data-tag="tag13").tags__item #поводья
                        span(data-tag="tag14").tags__item #деревянные_дома
                        span(data-tag="tag15").tags__item #городской_пейзаж
                        span(data-tag="tag16").tags__item #курорт
                        span(data-tag="tag17").tags__item #провинциальный_город
                        span(data-tag="tag18").tags__item #утраченная_церковь
    .main__about.about
        .container
            .about__wrapper
                h2.about__title Про нас
                .about__block
                    .about__img
                        img(src="./img/about-img.png" alt="")
                    .about__info
                        .about__text
                            p <b>«Історія Українських Мазур»</b> — это открытый и общедоступный фотоархив, который охватывает почти полтора века российской истории. Здесь вы найдете любительские фотографии, сделанные в России в периодс 1840 по 1999 годы.
                            p Проект объединяет снимки из разных источников. Это музейные собрания, фототеки организаций, газет и журналов и личные коллекции. Любой пользователь может пополнить архив, загрузив на сайт фотографии из домашних фотоальбомов.
                            p Снимки из архива проекта — парадные портреты и бытовые фото, очерки о буднях предприятий и военная фотохроника, достопримечательности и фотографии повседневной жизни городов и деревень — дают возможность познакомиться с жизнью в стране во всех ее проявлениях.
                        .about__sponsor
                            .about__sponsor-item
                                span.about__sponsor-text За підтримки:
                                a(href="#").about__sponsor-img.about__sponsor-img--ukrdim
                                    img(src="./img/sprites/logo-ukr-dim-color.png" alt="")
                            .about__sponsor-item
                                span.about__sponsor-text Реалізація проекту:
                                a(href="#").about__sponsor-img.about__sponsor-img--ploskiriv
                                    +icon("ploskiriv-logo-color")
