.noname
    h1 До запуску сайту залишилось
    .noname__img
        img(src="./img/noname.png" alt="")
        .noname__block.left
            p#days 99
            span днів
        .noname__block.right
            p#hours 23
            span годин
        i.lake
            +icon("lake-same")
        i.wall
            +icon("wall")