.popup
    .container
        .popup__wrapper
            .popup__item.popup__login#popup-login
                h2.popup__title Вхід
                .popup__content
                    span.popup__subtitle Авторизовані користувачі можуть завантажувати на сайт фотографії.
                    form.popup__form#validate-login
                        .popup__input-wrapper
                            div
                                input(type="email" placeholder="Електронна пошта" name="mail").popup__input
                            div
                                input(type="password" placeholder="Ваш пароль" name="pass").popup__input
                        a(href="#").btn.popup__btn.js-login-submit
                            span увійти
                            +icon("btn-bg")
                        .popup__links
                            a(href="#").popup__links-item.js-restore-pass Відновити пароль
                            a(href="#").popup__links-item.js-register Зареєструватися
                        .popup__soc
                            span.popup__soc-title Або увiйти за допомогою:
                            .popup__soc-wrapper
                                a(href="#").popup__soc-item
                                    +icon("ico-login-facebook")
                                a(href="#").popup__soc-item
                                    +icon("ico-login-google")
            .popup__item.popup__restore#popup-restore
                h2.popup__title Відновити пароль
                .popup__content
                    span.popup__subtitle На вашу пошту будуть відправлені інструкції по відновленню паролю.
                    form.popup__form#validate-restore
                        .popup__input-wrapper
                            div
                                input(type="email" placeholder="Електронна пошта" name="mail").popup__input
                        a(href="#").btn.popup__btn.js-restore-submit
                            span надіслати
                            +icon("btn-bg")
            .popup__item.popup__register#popup-register
                h2.popup__title Реєстрація
                .popup__content
                    form.popup__form#validate-register
                        .popup__input-wrapper
                            div
                                input(type="text" placeholder="Ваше ім'я" name="firstname").popup__input
                            div
                                input(type="text" placeholder="Прізвище" name="lastname").popup__input
                            div
                                input(type="email" placeholder="Електронна пошта" name="mail").popup__input
                            .popup__recaptcha recaptcha
                        a(href="#").btn.popup__btn.js-register-submit
                            span зареєструватися
                            +icon("btn-bg")
                        .popup__soc
                            span.popup__soc-title Або зареєструватись за допомогою:
                            .popup__soc-wrapper
                                a(href="#").popup__soc-item
                                    +icon("ico-login-facebook")
                                a(href="#").popup__soc-item
                                    +icon("ico-login-google")
            span.popup__close.js-close-popup
                +icon("close")