.search
    .container
        .search__wrapper
            h2.search__title Результати пошуку
            .search__result
                form.search__result-form#search-form-result
                    input(type="search").search__input-search
                    input(type="submit").search__input-submit
                    i.js-research
                        +icon("ico-search")
                .search__result-field
                    span.search__result-item Родина
                        i.js-remove-result
                            +icon("close-cirlce")
            .search__photo
                h3.search__photo-title Фото (37)
                .popular-categories__content
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-1.png" alt="")
                        .popular-categories__content-text
                            span Історія Українських <br>Мазур Фото 1
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Історія Українських <br>Мазур Фото 1
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-2.png" alt="")
                        .popular-categories__content-text
                            span Слідами українських Мазур
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Слідами українських Мазур
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-3.png" alt="")
                        .popular-categories__content-text
                            span Слідами українських Мазур
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Слідами українських Мазур
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-4.png" alt="")
                        .popular-categories__content-text
                            span Dom Ludowy
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Dom Ludowy
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-5.png" alt="")
                        .popular-categories__content-text
                            span Гарна природа
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Гарна природа
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-6.png" alt="")
                        .popular-categories__content-text
                            span Гарна природа
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Гарна природа
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-7.png" alt="")
                        .popular-categories__content-text
                            span Правдива iсторiя <br>одноi родини
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Правдива iсторiя <br>одноi родини
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-8.png" alt="")
                        .popular-categories__content-text
                            span Родина мазурів. <br>Світлина ХХ століття
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Родина мазурів. <br>Світлина ХХ століття
                .popular-categories__content.mobile
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-1.png" alt="")
                        .popular-categories__content-text
                            span Історія Українських <br>Мазур Фото 1
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Історія Українських <br>Мазур Фото 1
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-2.png" alt="")
                        .popular-categories__content-text
                            span Слідами українських Мазур
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Слідами українських Мазур
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-3.png" alt="")
                        .popular-categories__content-text
                            span Слідами українських Мазур
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Слідами українських Мазур
                    a(href="#").popular-categories__content-item
                        .popular-categories__content-img
                            img(src="./img/popular/pop-photo-4.png" alt="")
                        .popular-categories__content-text
                            span Dom Ludowy
                        .popular-categories__content-text.popular-categories__content-text--hover
                            span Dom Ludowy
                .search__photo-btn
                    a(href="#").btn
                        span показати ще
                        +icon("btn-bg")
            .search__story
                h3.search__story-title Iсторії (5)
                .stories__content
                    a(href="#").stories__item
                        .stories__img
                            img(src="" alt="")
                        .stories__info
                            h3.stories__item-title МОН перевірить, на що пішли гроші, виділені на кабінети української мови для шкіл нацменшин
                            p.stories__text Міністерство освіти і науки України промоніторить, <b>як на місцях були використані кошти на обладнання кабінетів української мови</b> у школах з вивченням мов національних меншин – чи були вони витрачені саме на те, що потрібно вчителю для покращення якості викладання.
                    a(href="#").stories__item.stories__item--img
                        .stories__img
                            img(src="./img/stories/img-stories-1.png" alt="")
                        .stories__info
                            h3.stories__item-title В ОБСЄ заявили, що український закон про державну мову не повністю гарантує захист мовних прав національних меншин
                            p.stories__text Верховний комісар ОБСЄ з питань нацменшин Ламберто Заньєр заявив в ООН, що <b>Україна має право зміцнювати роль державної мови, якщо це не шкодить правам національних меншин</b>.
            .search__source
                h3.search__source-title Джерела (2)
                .search__source-content
                    a(href="#") Єланецький районний історичний музей
                    a(href="#") Єлизаветівський історико-краєзнавчий музей