.source
    .container
        .source__wrapper
            h2.source__title Джерела
            .source__list-wrapper-scroll
                .source__list-wrapper
                    .source__list.js-sourse-scroll
                        a(href="#letter-a").active а
                        a(href="#letter-b") б
                        a(href="#letter-v") в
                        a(href="#letter-g") г
                        a(href="#letter-gg") ґ
                        a(href="#letter-d") д
                        a(href="#letter-e") е
                        a(href="#letter-ee") є
                        a(href="#letter-j") ж
                        a(href="#letter-z") з
                        a(href="#letter-u") и
                        a(href="#letter-i") і
                        a(href="#letter-k") к
                        a(href="#letter-l") л
                        a(href="#letter-m") м
                        a(href="#letter-n") н
                        a(href="#letter-o") о
                        a(href="#letter-p") п
                        a(href="#letter-r") р
                        a(href="#letter-s") с
                        a(href="#letter-t") т
                        a(href="#letter-y") у
                        a(href="#letter-f") ф
                        a(href="#letter-h") х
                        a(href="#letter-cc") ц
                        a(href="#letter-ch") ч
                        a(href="#letter-sh") ш
                        a(href="#letter-sch") щ
                        a(href="#letter-yu") ю
                        a(href="#letter-ya") я
                a(href="#" data-slider="slickPrev").js-scroll-source.source__list-btn.prev
                    +icon("slider-prev")
                a(href="#" data-slider="slickNext").js-scroll-source.source__list-btn.next
                    +icon("slider-next")
            .source__table#letter-a.active
                span.source__table-title а
                .source__table-wrapper
                    a(href="#") Адміністрація Державного історико-культурного заповідника "Стародавній Володимир” у м. Володимирі-Волинському
                    a(href="#") Адміністрація Державного історико-культурного заповідника у м. Луцьку
                    a(href="#") Азовська музейна кімната
                    a(href="#") Ананьївський історико-художній музей (Комунальна установа "Одеський художній музей", відділ)
                    a(href="#") Анатомічний музей імені проф. Яхниці
                    a(href="#") Антрацитівський історичний музей
                    a(href="#") Артеляршинський історичний музей
                    a(href="#") Археологічний музей “Добраничівська стоянка” (Комунальний заклад Київської обласної ради "Яготинський історичний музей", відділ)
                    a(href="#") Археологічний музей (Національний історико-етнографічний заповідник "Переяслав", відділ)
                    a(href="#") Археологічний музей (Національний науково-природничий музей Національної академії наук, відділ)
                    a(href="#") Археологічний музей імені Нінель Бокій
                    a(href="#") Археологічний музей імені проф. Балагурі Е.p А. історичного факультету ДВНЗ "Ужгородський національний університет"
                    a(href="#") Археологічний музей Інституту українознавства імені Івана Крип’якевича НАН України
                    a(href="#") Археологічний музей ЛНУ імені Івана Франка
                    a(href="#") Археолого-краєзнавчий музей (Комунальний заклад Київської обласної ради "Київський обласний археологічний музей", філія)
                    a(href="#") Архівно-музейний комплекс "Літературно-мистецькі Плюти" (Центральний державний архів-музей літератури та мистецтв України, відділ)
                    a(href="#") Арцизький районний історико-краєзнавчий музей
                    a(href="#") Астрономічний музей Астрономічної обсерваторії Київського національного університету імені Тараса Шевченка
            .source__table#letter-b
                span.source__table-title б
                .source__table-wrapper
                    a(href="#") Бабаївський історико–краєзнавчий музей
                    a(href="#") Балаклеївський краєзнавчий музей
                    a(href="#") Балакліївський історичний музей
                    a(href="#") Балаклійський районний краєзнавчий музей
                    a(href="#") Баляснеківський краєзнавчий музей
                    a(href="#") Банилівський музей історії села
                    a(href="#") Баранівський краєзнавчий музей
                    a(href="#") Баришівський історичний музей
                    a(href="#") Баришівський районний краєзнавчий музей
                    a(href="#") Батьківський історичний музей
                    a(href="#") Бахмацький районний історичний музей
                    a(href="#") Бердянський краєзнавчий музей Бердянської міської ради
                    a(href="#") Бердянський художній музей імені І. І. Бродського Бердянської міської ради
                    a(href="#") Бережанський краєзнавчий музей
                    a(href="#") Бережанський міський музей книги
                    a(href="#") Березанський краєзнавчий музей
                    a(href="#") Березанський районний народний історичний музей
                    a(href="#") Березнегуватський районний народний історико-краєзнавчий музей
                    a(href="#") Березоворудський народний історико-краєзнавчий музей
                    a(href="#") Берестечківський історичний музей
                    a(href="#") Бериславський районний історичний музей Херсонської області
                    a(href="#") Бернівський музей історії села
                    a(href="#") Бібліотека – музей імені Г. І. Підопригори
                    a(href="#") Бієвецький музей-садиба В.Симоненка (Вовчицький районний краєзнавчий музей імені І. І. Саєнка, філія)
                    a(href="#") Білгород-Дністровський районний історико-краєзнавчий музей
                    a(href="#") Білецьківський історичний музей
                    a(href="#") Білицький літературно-меморіальний музей Мате Залки
                    a(href="#") Білицький народний музей історії та художньо-ужиткового мистецтва
                    a(href="#") Білогірський районний історико-краєзнавчий музей
                    a(href="#") Білозерський районний музей імені Дмитра Багалія
                    a(href="#") Білокуракинський районний краєзнавчий музей
                    a(href="#") Білопільський краєзнавчий музей
                    a(href="#") Білоцерківський музей геології і природи краю
                    a(href="#") Більський краєзнавчий музей
                    a(href="#") Біляївський районний історико-краєзнавчий
                    a(href="#") Біосферний заповідник "Асканія-Нова" імені Ф. Е. Фальц-Фейна
                    a(href="#") Бірківський історичний музей
                    a(href="#") Благовіщенський районний історичний музей
                    a(href="#") Благодійний фонд "Маяк-музей мандрівника Ф. Конюхова"
                    a(href="#") Благодійний фонд "Музей та фестиваль Бруно Шульца"
                    a(href="#") Благодійний фонд "Одеський музей"
                    a(href="#") Благодійний фонд підтримки музейної справи в Полонському районі
                    a(href="#") Бобровицький районний історико-краєзнавчий музей
                    a(href="#") Богородчанський районний історико-краєзнавчий імені Олекси Гірника
                    a(href="#") Богоявленський краєзнавчий музей
                    a(href="#") Болградський історико-етнографічний музей (Комунальна установа "Одеський історико-краєзнавчий музей", філія)
                    a(href="#") Болградський музей Бойової Слави 98-ї Гардійської повітрянодесантної дивізії
                    a(href="#") Борзнянський народний історико-краєзнавчий музей
                    a(href="#") Борзнянський художньо-меморіальний музей "Садиба художника УкраїниО. Саєнка"
                    a(href="#") Бориспільський державний історичний музей
                    a(href="#") Борщівський обласний комунальний краєзнавчий музей
                    a(href="#") Ботанічний музей (Національний науково-природничий музей Національної академії наук, відділ)
                    a(href="#") Ботієвський етнографічний музей на громадських засадах
                    a(href="#") Бочківський етнографічний музей
                    a(href="#") Броварський краєзнавчий музей
                    a(href="#") Бродівський історико-краєзнавчий музей
                    a(href="#") Брусилівський історичний музей імені І. І. Огієнка (Житомирський обласний краєзнавчий музей Житомирської обласної ради, відділ)
                    a(href="#") Брусницький музей історії села
                    a(href="#") Буковинської діаспори (Чернівецький обласний краєзнавчий музей, відділ)
                    a(href="#") Бурчацький краєзнавчий музей
                    a(href="#") Бучацький районний комунальний краєзнавчий музей
            .source__table#letter-v
                span.source__table-title в
                .source__table-wrapper
                    a(href="#") Вагон-музей станції імені Т. Шевченка
                    a(href="#") Валявський музей історії села
                    a(href="#") Варварівський народний історичний музей
                    a(href="#") Василівський музей історії села
                    a(href="#") Васильківський міський народний краєзнавчий музей.
                    a(href="#") Васильківський районний краєзнавчий музей
                    a(href="#") Ватутінський міський історичний музей
                    a(href="#") Ватутінський міський народний історичний музей
                    a(href="#") Великобагачанський районний краєзнавчий музей
                    a(href="#") Великобережецький літературно-меморіальний музей Олександра Неприцького-Грановського
                    a(href="#") Великобичківський історико-краєзнавчий музей
                    a(href="#") Великобудищанський народний музей українського весілля
                    a(href="#") Великодобронське загальнокультурне та музейне об'єднання
                    a(href="#") Великокопанський історико-краєзнавчий музей
                    a(href="#") Великокоровинецький районний краєзнавчий музей Чуднівської районної ради Житомирської області
                    a(href="#") Великокручанський музей Українського національного побуту
                    a(href="#") Великолипнягівський історичний музей
                    a(href="#") Великомихайлівський районний історико-краєзнавчий музей
                    a(href="#") Великоолександрівський районний народний історико-краєзнавчий музей
                    a(href="#") Великопавлівський історичний музей
                    a(href="#") Великосорочинський літературно-меморіальний музей М. В. Гоголя
                    a(href="#") Великохутірський народний історико-краєзнавчий музей
                    a(href="#") Верхівнянський літературно-меморіальний музей Оноре де Бальзака (Житомирський обласний літературний музей Житомирської обласної ради, відділ)
                    a(href="#") Веселинівський районний історичний музей
                    a(href="#") Вижницький приватний меморіальний музей-садиба народного артиста України Назарія Яремчука
                    a(href="#") Виноградівський музей імені Поліни Кравченко
                    a(href="#") Виноградівський районний історичний музей
                    a(href="#") Виставка пожежно - рятувальної служби (пожежно-технічна виставка) ГУ ДСНС України у Запорізькій області
                    a(href="#") Виставка пожежно-рятувальної служби Управління ДСНС України в Івано-Франківській області
                    a(href="#") Виставковий центр-музей художника Івана Марчука
                    a(href="#") Виставково-інформаційний центр
                    a(href="#") Виставково-музичний центр
                    a(href="#") Вихвостівський музей повісті М. М. Коцюбинського "Фата Моргана"
                    a(href="#") Вишгородський історико-культурний заповідник
                    a(href="#") Відділ історії, природи, етнографії та побуту (Музей "Дрогобиччина", відділ)
                    a(href="#") Відділ пам’яток дерев’яної архітектури 15-17 ст. (Музей "Дрогобиччина", відділ)
                    a(href="#") Відділ природи (Комунальна установа "Одеський історико-краєзнавчий музей", філія)
                    a(href="#") Відокремлене відділення Державного навчального закладу "Мукачівський центр професійно-технічної освіти" Музей краєзнавства "Обереги"
                    a(href="#") Військово-історичний музей  (Чернігівський обласний історичний музей імені В. В. Тарновського, філія)
                    a(href="#") Військово-історичний музей 59 будинку офіцерів
                    a(href="#") Військово-історичний музей Долинського будинку дитячої та юнацької творчості
                    a(href="#") Військово-історичний музей імені Героя Радянського Союзу О. П. Онищука
                    a(href="#") Військово-історичний музей Південного оперативного командування
                    a(href="#") Військово-історичний музей при Чечеліївській ЗШ
                    a(href="#") Військово-історичний музей Червонокостянтинівької ЗШ І-ІІІ ступенів відділу освіти Петрівської районної державної адміністрації Кіровоградської області
                    a(href="#") Вільшанський районний українсько-болгарський історичний музей імені Івана Гуржоса
                    a(href="#") Вінницький літературно-меморіальний музей М. М. Коцюбинського
                    a(href="#") Вінницький обласний краєзнавчий музей
                    a(href="#") Вінницький обласний художній музей
                    a(href="#") Власівський історичний музей
                    a(href="#") Вовчицький районний краєзнавчий музей імені І. І. Саєнка
                    a(href="#") Воздвижівський сільський музей на громадських засадах
                    a(href="#") Вознесенський художній музей Є. А. Кібрика (Комунальний заклад культури "Миколаївський обласний художній музей імені В. В. Верещагіна", філія)
                    a(href="#") Волинський краєзнавчий музей
                    a(href="#") Волинський регіональний музей українського війська та військової техніки (Національний військово-історичний музей України, філія)
                    a(href="#") Воловецька картинна галерея
                    a(href="#") Володарсько-Волинський музей історії району
                    a(href="#") Володимир-Волинський історичний музей
                    a(href="#") Володимирівський шкільний історико-краєзнавчий музей
                    a(href="#") Волочиський історико - етнографічний музей
                    a(href="#") Вороновицький музей історії авіації та космонавтики
                    a(href="#") Вороньківський народний історичний музей
                    a(href="#") Воскобійницький краєзнавчий музей
                    a(href="#") Врадіївський районний історичний музей
                    a(href="#") Всеукраїнська громадська організація "Український військово-історичний музей"
            .source__table#letter-g
                span.source__table-title г
                .source__table-wrapper
                    a(href="#") Гадяцький районний історико-краєзнавчий музей
                    a(href="#") Гайворонський районний краєзнавчий музей
                    a(href="#") Галерея "Мистецтво Слобожанщини" - відділ сучасного мистецтва Обласного організаційно-методичного центру культури та мистецтва
                    a(href="#") Гельмязівський народний краєзнавчий музей
                    a(href="#") Генічеський районний краєзнавчий музей Генічеської районної ради Херсонської області
                    a(href="#") Геологічний музей
                    a(href="#") Геологічний музей (Національний науково-природничий музей Національної академії наук, відділ)
                    a(href="#") Геологічний музей КГРТ
                    a(href="#") Геологічний музей СНУ імені Лесі Українки
                    a(href="#") Глибоцький районний історичний музей
                    a(href="#") Глибоцький районний краєзнавчий музей
                    a(href="#") Глобинський міський музей
                    a(href="#") Гнаровський музей бойової слави
                    a(href="#") Гніванський історичний музей "Ветеран"
                    a(href="#") Горбівський історико-етнографічний музей
                    a(href="#") Горлівський художній музей
                    a(href="#") Горностаївського районий краєзнавчий музей (на громадських засадах)
                    a(href="#") Городенківський краєзнавчий музей "Покуття"
                    a(href="#") Городищенський краєзнавчий музей
                    a(href="#") Городнянський історико-краєзнавчий музей
                    a(href="#") Городоцький історико-краєзнавчий музей
                    a(href="#") Городоцький районний краєзнавчий музей
                    a(href="#") Горохівський районний народний історичний музей
                    a(href="#") Гребінківський народний краєзнавчий музей
                    a(href="#") Громадська молодіжна організація футбольний клуб-музей "Стара бутса"
                    a(href="#") Громадська організація "Всеукраїнський військово-патріотичний центр-музей "Шампань"
                    a(href="#") Громадська організація "Літературний музей Григорія Кочура"
                    a(href="#") Громадська організація "Музей Майдану"
                    a(href="#") Громадська організація "Музей міста Тернополя"
                    a(href="#") Громадська організація "Музей однієї вулиці"
                    a(href="#") Громадська організація "Регіональний музей етнографії сіл Пониззя ріки Тереблі"
                    a(href="#") Громадська організація "Ретро-мото музей"
                    a(href="#") Громадський краєзнавчий музей села Володимиро-Іллінка
                    a(href="#") Громадський краєзнавчий музей села Громівка
                    a(href="#") Громадський музей історії села Одрадівка
                    a(href="#") Громадський музей історії селища Желанне Ясинуватський р-н
                    a(href="#") Громадський музей-Музей історії села Підлісне
                    a(href="#") Громадський народний музей історії села та господарства ДП "Степове"
                    a(href="#") Гур’єво–Козачанський історико–краєзнавчий музей
                    a(href="#") Гусятинський районний комунальний краєзнавчий музей
                    a(href="#") Гута-Селищенський народний музей
                    a(href="#") Гюнівський історико-краєзнавчий музей на громадських засадах
            .source__table#letter-d
                span.source__table-title д
                .source__table-wrapper
                    a(href="#") Дамасківський історичний музей
                    a(href="#") Дворічанський районний краєзнавчий музей Харківської області
                    a(href="#") Дебальцевський міський літературно-історичний музей
                    a(href="#") Дейкалівський історичний музей
                    a(href="#") Дейманівський краєзнавчий музей
                    a(href="#") Денисівський краєзнавчий музей Козівського району
                    a(href="#") Деражнянський районний історичний  музей
                    a(href="#") Деревківський історичний музей
                    a(href="#") Державна організація (установа, заклад) Районний історичний Музей південно-західної залізниці та Б. С. Олійника
                    a(href="#") Державна установа "Музей коштовного і декоративного каміння"
                    a(href="#") Державна установа "Музей пам'яті жертв сталінських репресій у селищі Щирець Пустомитівського району Львівської області"
                    a(href="#") Державне комунальне аптечне підприємство "Під Чорним орлом"
                    a(href="#") Державне підприємство "Національний культурно-мистецький та музейний комплекс "Мистецький Арсенал"
                    a(href="#") Державний архітектурно-історичний заповідник "Стара Умань"
                    a(href="#") Державний заповідник-музей І. К. Тобілевича (Карпенка-Карого) Хутір Надія (Кіровоградський обласний краєзнавчий музей, філія)
                    a(href="#") Державний історико-архітектурний заповідник "Стародавній Київ" (Управління охорони пам'яток історії, культури та історичного середовища Київської міськдержадміністрації)
                    a(href="#") Державний історико-архітектурний заповідник "Хотинська фортеця"
                    a(href="#") Державний історико-архітектурний заповідник у м. Бережани
                    a(href="#") Державний історико-архітектурний заповідник у м. Жовкві
                    a(href="#") Державний історико-культурний заповідник "Буша”
                    a(href="#") Державний історико-культурний заповідник "Межибіж"
                    a(href="#") Державний історико-культурний заповідник "Нагуєвичі"
                    a(href="#") Державний історико-культурний заповідник "Поле Полтавської битви"
                    a(href="#") Державний історико-культурний заповідник "Самчики"
                    a(href="#") Державний історико-культурний заповідник "Трахтемирів"
                    a(href="#") Державний історико-культурний заповідник "Трипільська культура"
                    a(href="#") Державний історико-культурний заповідник "Тустань"
                    a(href="#") Державний історико-культурний заповідник м. Дубно
                    a(href="#") Державний історико-культурний заповідник у м. Белзі
                    a(href="#") Державний історико-меморіальний Лук'янівський заповідник
                    a(href="#") Державний музей авіації
                    a(href="#") Державний музей іграшки
                    a(href="#") Державний Музей природи Харківського національного університету імені В. Н. Каразіна
                    a(href="#") Державний політехнічний музей при Національному технічному університеті України "Київський політехнічний інститут"
                    a(href="#") Державний природознавчий музей Національної академії наук України
                    a(href="#") Деркульська кімната історії кінного заводу
                    a(href="#") Диканський історико-краєзнавчий музей імені Д. М. Гармаша
                    a(href="#") Дирекція художніх виставок України
                    a(href="#") Дитячий пожежний клас-музей "Промінець"
                    a(href="#") Дібрівський музей історії конярства Дібрівського кінного заводу
                    a(href="#") Дівнинський історичний музей на громадських засадах
                    a(href="#") Діорама "Битва за Дніпро" (Комунальний заклад культури "Дніпропетровський національний історичний музей імені Д. І. Яворницького" Дніпропетровської обласної ради, відділ)
                    a(href="#") Діорама "Штурм Ізмаїла" (Ізмаїльський історичний музей О. В. Суворова, відділ)
                    a(href="#") Дмитрівський народний історичний музей на громадських засадах
                    a(href="#") Дмитрівський народний краєзнавчий музей
                    a(href="#") Дніпровський меморіальний музей І. С. Паторжинського
                    a(href="#") Добровеличківський районний краєзнавчий музей
                    a(href="#") Доманівський районний історичний музей
                    a(href="#") Донецька обласна громадська організація "Військово-історичний музей"
                    a(href="#") Донецька обласна громадська організація "Музей-клуб громадської безпеки"
                    a(href="#") Дорожний народний музей Державного підприємства управління Придніпровської залізниці
                    a(href="#") Доросинівський музей історії села
                    a(href="#") Дорошівецький музей історії села
                    a(href="#") Драбівський краєзнавчий музей
                    a(href="#") Дроздовицький шкільний історико-краєзнавчий музей
                    a(href="#") Дубинівський сільський музей
            .source__table#letter-e
                span.source__table-title е
                .source__table-wrapper
                    a(href="#") Етнографічна музейна кімната
                    a(href="#") Етнографічний відділ (Заньківський меморіальний музей М. К. Заньковецької, відділ)
                    a(href="#") Етнографічний музей "Берегиня"
                    a(href="#") Етнографічний музей "Лемківська садиба"
                    a(href="#") Етнографічний музей "Світлиця" Володимирецького районного колегіуму
                    a(href="#") Етнографічний музей "Світлиця" Закарпатського обласного палацу дитячої та юнацької творчості "ПАДІЮН"
                    a(href="#") Етнографічний музей "Фортеця"
                    a(href="#") Етнографічний музей імені П. О. Куліша
                    a(href="#") Етнографічний музей села Береги
                    a(href="#") Етнографічний музей-скарбниця Калущини
                    a(href="#") Етнографічно-краєзнавчий музей імені В. Г. Герасимчук
                    a(href="#") Етнографічно-мистецький музей імені Якова Гніздовського
            .source__table#letter-ee
                span.source__table-title є
                .source__table-wrapper
                    a(href="#") Єланецький районний історичний музей
                    a(href="#") Єлизаветівський історико-краєзнавчий музей
                    a(href="#") Ємільчинський народний районний краєзнавчий музей Ємільчинської районної ради Житомирської області
            .source__table#letter-j
                span.source__table-title ж
                .source__table-wrapper
                    a(href="#") Жашківський історичний музей
                    a(href="#") Житомирський літературно-меморіальний музей В. Короленка (Житомирський обласний краєзнавчий музей Житомирської обласної ради, відділ)
                    a(href="#") Житомирський обласний краєзнавчий музей Житомирської обласної ради
                    a(href="#") Житомирський обласний літературний музей Житомирської обласної ради
                    a(href="#") Жовтнева бібліотека-музей
                    a(href="#") Жуківцівський краєзнавчий музей імені П. С. Топчія
            .source__table#letter-z
                span.source__table-title з
                .source__table-wrapper
                    a(href="#") Заворсклянський краєзнавчий музей
                    a(href="#") Загрунівський історичний музей
                    a(href="#") Заїченський історичний
                    a(href="#") Заїченський краєзнавчий музей
                    a(href="#") Закарпатський музей народної архітектури та побуту
                    a(href="#") Закарпатський обласний краєзнавчий музей імені Тиводара Легоцького
                    a(href="#") Закарпатський обласний художній музей імені Йосипа Бокшая
                    a(href="#") Заклад культури "Музей історичного центру міста Києва"
                    a(href="#") Заліщицький районний комунальний краєзнавчий музей
                    a(href="#") Заможнянський сільський музей
                    a(href="#") Заповідник-музей А. Макаренка
                    a(href="#") Заповітненський музей бойової та трудової слави
                    a(href="#") Запорізький музей-галерея прикладної кераміки та живописної творчості Іллі та Олексія Бурлай
                    a(href="#") Зарізький історичний музей
                    a(href="#") Затурцівський меморіальний музей В. Липинського (Волинський краєзнавчий музей, відділ)
                    a(href="#") Захарівський музей історії Світловодського району Кіровоградської області
                    a(href="#") Зборівський районний комунальний історико-краєзнавчий музей "Зборівська битва"
                    a(href="#") Звенигородський районний краєзнавчий музей імені Т. Г. Шевченка
                    a(href="#") Здолбунівський районний історико-краєзнавчий музей Здолбунівської районної ради Рівненської області
                    a(href="#") Зеленівський музей природи
                    a(href="#") Зіньківський народний історичний музей
                    a(href="#") Знам'янський музей історії локомотивного депо
                    a(href="#") Знам'янський районний краєзнавчий музей
                    a(href="#") Золотоніський краєзнавчий музей імені М. Ф. Пономаренка
                    a(href="#") Золочівський історико-краєзнавчий музей
                    a(href="#") Зоологічний музей (Національний науково-природничий музей Національної академії наук), відділ)
                    a(href="#") Зоологічний музей Київського національного університету імені Тараса Шевченка
                    a(href="#") Зоологічний музей ЛНУ імені Івана Франка
                    a(href="#") Зоологічний музей Одеського національного університету імені І. І. Мечникова
                    a(href="#") Зоологічний музей Сумського державного педагогічного університету імені А. С. Макаренка
                    a(href="#") Зорянский етнографічний музей "Голямата къща"
                    a(href="#") Зразковий історико-краєзнавчий музей загального типу "Споконвічність"
                    a(href="#") Зразковий музей Бойової слави
                    a(href="#") Зразковий музей історії імені Петрова
                    a(href="#") Зуївцівський історичний музей
            .source__btn
                a(href="#").btn
                    span ПОКАЗАТИ ЩЕ
                    +icon("btn-bg")