.container
    .start
        a(href="uikit.html") UI Kit
        a(href="main.html") Головна
        a(href="catalog.html") Каталог фото
        a(href="detail.html") Детальна фото
        a(href="addphoto.html") Завантаження фотографій
        a(href="stories.html") Iсторії
        a(href="addstory.html") Завантаження історії
        a(href="search.html") Результати пошуку
        a(href="source.html") Джерела
        a(href="404.html") 404
        a(href="cabinet.html") Особистий кабінет
        a(href="cabinet-edit.html") Особистий кабінет - Редагування
        a(href="test.html") ТЕСТ
        a(href="noname.html") Заглушка