.stories
    .container
        .stories__wrapper
            h1.stories__title Iсторії
            .page-sort.js-sort
                span Сортувати по:
                a(href="#").page-sort__btn.active Даті додавання
                a(href="#").page-sort__btn Року народження
            .stories__content
                a(href="#").stories__item
                    .stories__img
                        img(src="" alt="")
                    .stories__info
                        h3.stories__item-title МОН перевірить, на що пішли гроші, виділені на кабінети української мови для шкіл нацменшин
                        p.stories__text Міністерство освіти і науки України промоніторить, <b>як на місцях були використані кошти на обладнання кабінетів української мови</b> у школах з вивченням мов національних меншин – чи були вони витрачені саме на те, що потрібно вчителю для покращення якості викладання. Міністерство освіти і науки України промоніторить, <b>як на місцях були використані кошти на обладнання кабінетів української мови</b> у школах з вивченням мов національних меншин – чи були вони витрачені саме на те, що потрібно вчителю для покращення якості викладання.
                a(href="#").stories__item.stories__item--img
                    .stories__img
                        img(src="./img/stories/img-stories-1.png" alt="")
                    .stories__info
                        h3.stories__item-title В ОБСЄ заявили, що український закон про державну мову не повністю гарантує захист мовних прав національних меншин
                        p.stories__text Верховний комісар ОБСЄ з питань нацменшин Ламберто Заньєр заявив в ООН, що <b>Україна має право зміцнювати роль державної мови, якщо це не шкодить правам національних меншин</b>.
                a(href="#").stories__item.stories__item--img
                    .stories__img
                        img(src="./img/stories/img-stories-2.png" alt="")
                    .stories__info
                        h3.stories__item-title Кириленко заявив, що Кабмін готовий протягом півроку внести в Раду законопроект "Про захист мов корінних народів і нацменшин"
                        p.stories__text Кабінет Міністрів готовий до виконання всіх норм, що передбачають участь уряду в реалізації та бюджетній підтримці закону про українську мову, заявив віце-прем'єр-міністр України <b>В'ячеслав Кириленко</b>. Кабінет Міністрів готовий до виконання всіх норм, що передбачають участь уряду в реалізації та бюджетній підтримці закону про українську мову, заявив віце-прем'єр-міністр України <b>В'ячеслав Кириленко</b>.
                a(href="#").stories__item
                    .stories__img
                        img(src="" alt="")
                    .stories__info
                        h3.stories__item-title Сіярто заявив, що Угорщина буде блокувати проведення засідань комісії Україна – НАТО
                        p.stories__text Міністр закордонних справ Угорщини Петер Сіярто заявив, що угорська влада буде блокувати проведення засідань комісії Україна – НАТО доти, <b>"доки Україна не припинить систематичних порушень прав угорської громади"</b>
                a(href="#").stories__item.stories__item--img
                    .stories__img
                        img(src="./img/stories/img-stories-3.png" alt="")
                    .stories__info
                        h3.stories__item-title На Закарпатті після появи антиугорських плакатів відкрили кримінальне провадження про розпалювання національної ворожнечі
                        p.stories__text Плакати із зображеннями представників угорської меншини прокуратура Закарпатської області назвала провокаційними.
            .stories__pagination
                .pagination(data-pagination="1")
                    a(href="#").pagination__item.active 1
                    a(href="#").pagination__item 2
                    a(href="#").pagination__item 3
                    a(href="#").pagination__item 4
                    a(href="#").pagination__item.interval ...
                    a(href="#").pagination__item 350
            .stories__btn
                a(href="#").btn
                    span показати ще
                    +icon("btn-bg")
