.uikit
    .uikit__header
        .container
            .uikit__header-wrapper
                h1.uikit__title Заплутаними стежками історії українських Мазур
                span.uikit__subtitle Мить, що залишиться в пам’яті…
                .uikit__header-logos
                    .uikit__logos-item.uikit__logos-item--ukrdim
                        .uikit__logos-text
                            span За підтримки:
                        .uikit__logos-img
                            +icon("ukr-logo")
                    .uikit__logos-item.uikit__logos-item--ploskiriv
                        .uikit__logos-text
                            span Реалізація проекту:
                        .uikit__logos-img
                            +icon("ploskiriv-logo")
    .uikit__item.uikit__menublock
        .container
            .uikit__heading-title main menu
        .header
            .container
                .header__wrapper
                    a.header__logo(href="/")
                        +icon("logo")
                    .header__content
                        nav.menu
                            .menu__item.menu__submenu
                                a(href="#").menu__link Історія Мазур
                                ul.menu__sublist
                                    li
                                        a.menu__sublist-link(href="#") Iсторії Мазур з Гречан
                                    li
                                        a.menu__sublist-link(href="#") Iсторії Мазур з Плоскірова
                                    li
                                        a.menu__sublist-link(href="#") Iсторії Мазур з Мацьківець
                                    li
                                        a.menu__sublist-link(href="#") Iсторії Мазур з Шаровечки
                            .menu__item
                                a(href="#").menu__link Фото
                            .menu__item
                                a(href="#").menu__link Документи
                            .menu__item.menu__submenu
                                a(href="#").menu__link Родинні історії
                                ul.menu__sublist
                                    li
                                        a(href="#").menu__sublist-link Iсторії Мазур з Гречан
                                    li
                                        a(href="#").menu__sublist-link Iсторії Мазур з Плоскірова
                                    li
                                        a(href="#").menu__sublist-link Iсторії Мазур з Мацьківець
                                    li
                                        a(href="#").menu__sublist-link Iсторії Мазур з Шаровечки
                            .menu__item
                                a(href="#").menu__link Про проект
                            .menu__item
                                a(href="#").menu__link Джерела
                        .header__content-bottom
                            form.header__search
                                input.header__search-input(type="search" name="header-search" id="header-search" placeholder="Пошук фото")
                                i.header__search-submit
                                    +icon("ico-search")
                            .header__lang
                                a(href="#").header__lang-link
                                    span#site-lang ua
                                ul.header__lang-list
                                    li
                                        a(href="#") ru
                                    li
                                        a(href="#") pl
                    .header__login
                        a(href="#").login-btn вхід
    .uikit__item.uikit__colors
        .container
            .uikit__heading-title цвета
            .uikit__colors-wrapper
                .uikit__colors-item
                    .uikit__colors-block.uikit__colors-block--lightgreen
                    span.uikit__colors-text #5ff5cf
                .uikit__colors-item
                    .uikit__colors-block.uikit__colors-block--green
                    span.uikit__colors-text #50ccad
                .uikit__colors-item
                    .uikit__colors-block.uikit__colors-block--darkgreen
                    span.uikit__colors-text #3c9982
                .uikit__colors-item
                    .uikit__colors-block.uikit__colors-block--orange
                    span.uikit__colors-text #f66c19
                .uikit__colors-item
                    .uikit__colors-block.uikit__colors-block--white
                    span.uikit__colors-text #ffffff
                .uikit__colors-item
                    .uikit__colors-block.uikit__colors-block--lightgray
                    span.uikit__colors-text #f8f8f8
                .uikit__colors-item
                    .uikit__colors-block.uikit__colors-block--gray
                    span.uikit__colors-text #ebebeb
                .uikit__colors-item
                    .uikit__colors-block.uikit__colors-block--darkgray
                    span.uikit__colors-text #393a3e
                .uikit__colors-item
                    .uikit__colors-block.uikit__colors-block--lightblack
                    span.uikit__colors-text #262626
                .uikit__colors-item
                    .uikit__colors-block.uikit__colors-block--black
                    span.uikit__colors-text #000000
    .uikit__item.uikit__btns
        .container
            .uikit__heading-title кнопки
            .uikit__btns-wrapper
                .uikit__btns-item
                    .uikit__btns-content
                        .uikit__btns-info
                            span Обычное состояние
                            span #5ff5cf
                        a(href="#").btn
                            span детально
                            +icon("btn-bg")
                    .uikit__btns-content
                        .uikit__btns-info
                            span Момент нажатия
                            span #3c9982
                        a(href="#").btn.active
                            span детально
                            +icon("btn-bg")
                .uikit__btns-item
                    .uikit__btns-content
                        .uikit__btns-info
                            span Наведение
                            span #50ccad
                        a(href="#").btn.hover
                            span детально
                            +icon("btn-bg")
                    .uikit__btns-content
                        .uikit__btns-info
                            span Кнопка не активна
                            span #3c9982
                        a(href="#").btn.unactive
                            span детально
                            +icon("btn-bg")
                .uikit__btns-item.uikit__btns-item--login
                    .uikit__btns-content
                        .uikit__btns-info
                            span Обычное состояние
                        a(href="#").login-btn вхід
                    .uikit__btns-content
                        .uikit__btns-info
                            span Наведение
                            span #ffffff
                        a(href="#").login-btn.hover вхід
    .uikit__item.uikit__tabs
        .container
            .uikit__heading-title tabs
            .tab
                .tab__wrapper.js-tab
                    .tab__item.active
                        span назва
                    .tab__item
                        span назва
                    .tab__item
                        span назва
                .tab__content
                    .tab__content-item.active
                        span content 1
                    .tab__content-item
                        span content 2
                    .tab__content-item
                        span content 3
    .uikit__item.uikit__text
        .container
            .uikit__heading-title block text
            .uikit__text-wrapper
                p
                    b «Історія Українських Мазур»
                    | &nbsp;— это открытый и общедоступный фотоархив, который охватывает почти полтора века российской истории. Здесь вы найдете любительские фотографии, сделанные <br>в России в периодс 1840 по 1999 годы.
                p Проект объединяет снимки из разных источников. Это музейные собрания, фототеки организаций, газет и журналов и личные коллекции. Любой пользователь может пополнить архив, загрузив на сайт фотографии из домашних фотоальбомов.
    .uikit__item.uikit__text
        .container
            .uikit__heading-title selected text
            .uikit__text-wrapper
                p
                    b «Історія Українських Мазур»
                    | &nbsp;—&nbsp;
                    span.selected-text это открытый и общедоступный <br>фотоархив, который охватывает почти полтора века российской истории.
                    | <br>Здесь вы найдете любительские фотографии, сделанные <br>в России в периодс 1840 по 1999 годы.
    .uikit__item.uikit__userpic
        .container
            .uikit__heading-title user pic
            .uikit__userpic-wrapper
                .userpic
                    .userpic__img
                        img(src="./img/userpic.png" alt="")
                    .userpic__info
                        span.userpic__text#first-name Yevgeny
                        span.userpic__text#last-name Oleksyuk
    .uikit__item.uikit__headings
        .container
            .uikit__heading-title headings
            .uikit__headings-wrapper
                .uikit__headings-item
                    span.uikit__headings-name heading 01
                    h1 Мазур
                .uikit__headings-item
                    span.uikit__headings-name heading 02
                    h2 Про нас
                .uikit__headings-item
                    span.uikit__headings-name heading 02
                    h3 Популярні Категорії
    .uikit__item.uikit__quote
        .container
            .uikit__heading-title quote
            .uikit__quote-wrapper
                .quote
                    span Ми пропонуємо великий вибір мольбертів: як художніх, <br>так і для творчого розвитку дитини.
                    span Придбайте протягом лютого будь-який мольберт у мережі магазинів «Офіс-Центр» та отримайте знижку 10%!
    .uikit__item.uikit__form
        .container
            .uikit__heading-title form
            .uikit__form-wrapper
                input(type="text" placeholder="Ваш коментар")
    .uikit__item.uikit__radiobutton
        .container
            .uikit__heading-title radiobutton
            .uikit__radiobutton-wrapper
                .radiobutton
                    .radiobutton__wrapper
                        label(for="radio")
                            span Кур'єрська Доставка
                            input(type="radio" id="radio" name="radio")
                            i
                    .radiobutton__wrapper
                        label(for="radio2")
                            span Доставка На Вiддiлення
                            input(type="radio" id="radio2" name="radio")
                            i
    .uikit__item.uikit__comments
        .container
            .uikit__heading-title comments
            .uikit__comments-wrapper
                .comments
                    .comments__item
                        .comments__img
                            img(src="./img/comment-photo-1.png" alt="")
                        .comments__info
                            .comments__name
                                span Yana Rozenblit
                            .comments__text
                                span Кому бесплатно котика, Хмельницький! <br>Смотрите на этих няшных жопсиков, а лучше берите себе
                    .comments__item
                        .comments__img
                            img(src="./img/comment-photo-2.png" alt="")
                        .comments__info
                            .comments__name
                                span Vadym Bondar
                            .comments__text
                                span це був прекрасний час/it was a great time! <br>дякую усім причетним! special thanks to Cisco & The Racecars
    .uikit__item.uikit__checkbox
        .container
            .uikit__heading-title checkbox
            .uikit__checkbox-wrapper
                .checkbox
                    .checkbox__wrapper
                        label(for="checkbox")
                            span Checkbox
                            input(type="checkbox" id="checkbox" name="checkbox")
                            i
                    .checkbox__wrapper
                        label(for="checkbox2")
                            span Checkbox
                            input(type="checkbox" id="checkbox2" name="checkbox")
                            i
                    .checkbox__wrapper
                        label(for="checkbox3")
                            span Checkbox
                            input(type="checkbox" id="checkbox3" name="checkbox")
                            i
    .uikit__item.uikit__table
        .container
            .uikit__heading-title table
            .uikit__table-wrapper
                .table
                    table
                        tbody
                            tr
                                td
                                    span Ліцензія
                                td
                                    span Н / Д
                            tr
                                td
                                    span Стать
                                td
                                    span Жіноча
                            tr
                                td
                                    span корпус
                                td
                                    span Пiдвищена зносостійкість
                            tr
                                td
                                    span спинка
                                td
                                    span Без жосткоъ ортопедичноъ основи
                            tr
                                td
                                    span плечові лямки
                                td
                                    span Плавна амортизація
                            tr
                                td
                                    span додатково
                                td
                                    span Бокові кармани
    .uikit__item.uikit__pagination
        .container
            .uikit__heading-title pagination
            .uikit__pagination-wrapper
                .pagination(data-pagination="1")
                    a(href="#").pagination__item.active 1
                    a(href="#").pagination__item 2
                    a(href="#").pagination__item 3
                    a(href="#").pagination__item 4
                    a(href="#").pagination__item.interval ...
                    a(href="#").pagination__item 350
    .uikit__item.uikit__pagination
        .container
            .uikit__heading-title pagination hover
            .uikit__pagination-wrapper
                .pagination(data-pagination="1")
                    a(href="#").pagination__item.active 1
                    a(href="#").pagination__item.hover 2
                    a(href="#").pagination__item 3
                    a(href="#").pagination__item 4
                    a(href="#").pagination__item.interval ...
                    a(href="#").pagination__item 350
    .uikit__item.uikit__links
        .container
            .uikit__heading-title links
            .uikit__links-wrapper
                .uikit__links-item
                    a(href="#").link https://ofis-centr.ua/oplata_ta_dostavka
                .uikit__links-item
                    a(href="#").link https://ofis-centr.ua/oplata_ta_dostavka
                    a(href="#").link.hover https://ofis-centr.ua/oplata_ta_dostavka
                    a(href="#").link.visited https://ofis-centr.ua/oplata_ta_dostavka
    .uikit__item.uikit__breadcrums
        .container
            .uikit__heading-title breadcrums
            .uikit__breadcrums-wrapper
                .breadcrums
                    a(href="#").breadcrums__item Головна
                    a(href="#").breadcrums__item Каталог фото
                    a(href="#").breadcrums__item Фото
    .uikit__item.uikit__list
        .container
            .uikit__heading-title Numbered and unnumbered links
            .uikit__list-wrapper
                ol
                    li
                        span Безкоштовна доставка
                    li
                        span Особистий менеджер
                    li
                        span Філіжанка кави при візиті
                    li
                        span Комплексне обслуговування
                    li
                        span Додаткові послуги
                        ul
                            li
                                span Заправка картриджів;
                            li
                                span Безкоштовна діагностика картриджів;
                            li
                                span Ламінування;
                            li
                                span Виготовлення печаток та штампів
                                ul.list-dash
                                    li
                                        span Пакет «VIP»
                                    li
                                        span Пакет «Оптимальний»
                                    li
                                        span Пакет «Ефективний»
                                    li
                                        span Пакет «Бюджетний»
                    li
                        span 22 роки разом з Вами
    .uikit__item.uikit__dropdowns
        .container
            .uikit__heading-title dropdowns
            .uikit__dropdowns-wrapper
                .dropdown
                    select#town-select
                        option(value='all-towns') Всі міста
                        option(value='town1') м. Тернопіль
                        option(selected='', value='town2') м. Хмельницький
                        option(value='town3') м. Чемерівці
    .uikit__item.uikit__scroll
        .container
            .uikit__heading-title scroll
            .uikit__scroll-wrapper
                .test-scroll-wrapper.scroll
                    .test-scroll-block
    .uikit__item.uikit__tags
        .container
            .uikit__heading-title tags
            .uikit__tags-wrapper
                .tags.js-tags
                    span(data-tag="tag1").tags__item.active #конюх
                    span(data-tag="tag2").tags__item #коневодство
                    span(data-tag="tag3").tags__item #лошадь
                    span(data-tag="tag4").tags__item #высокие_сапоги
                    span(data-tag="tag5").tags__item #зипун
                    span(data-tag="tag6").tags__item #картуз

