doctype html
include ../chunks/mixin.pug
html(lang="ru").no-js
    head
        include ../chunks/head.pug
    block body
        .page-wrapper#page-wrapper
            include ../chunks/header.pug
            include ../chunks/breadcrums.pug
            .page-body#page-body
                include ../chunks/stories.pug
            include ../chunks/footer.pug
            include ../chunks/popup.pug

    include ../chunks/scripts.pug
