@media screen and (max-width: 1200px) {
  .header {
    min-height: 50px;
    padding: 18px 0 18px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }
  .breadcrums__wrapper {
    padding-top: 72px;
  }
  .header__logo {
    display: none;
  }
  .header__logo-mobile {
    display: block;
    margin: 0 40px;
  }
  .header__authorized {
    display: none;
    padding: 0;
  }
  .header__wrapper {
    align-items: center;
    position: relative;
  }
  .header__menu {
    display: block;
  }
  .header__login {
    margin-top: 0;
  }
  .header__content {
    display: block;
    max-width: 255px;
  }
  .menu {
    position: fixed;
    left: 0;
    top: 72px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 30px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(calc(-100% - 72px));
    background-color: $lightblack;
    height: 100%;
    justify-content: flex-start;
    &.active {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .menu__link {
    padding-bottom: 16px;
    padding-top: 15px;
  }
  .menu__item {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
  .header__wrapper-right {
    width: auto;
  }
  .header__wrapper-left {
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: none;
  }
  .header__lang {
    margin-left: 15px;
  }
  .main__slider-content > .container {
    max-width: 100%;
  }
  .main__slider-content-wrapper {
    padding-top: 85px;
  }
  .main__popular-categories {
    margin-bottom: 0;
  }
  .popular-categories__content {
    width: 564px;
    padding-top: 0;
  }
  .popular-categories__aside {
    width: calc(100% - 594px);
  }
  .about {
    min-height: auto;
    padding-bottom: 50px;
  }
  .footer__submenu:not(:last-child) {
    margin-right: 40px;
  }
  .footer__menu {
    margin-right: 70px;
  }
  .header__login {
    width: 135px;
  }
  .menu__submenu:after {
    transform: rotate(-90deg);
    right: 9px;
    top: -31px;
  }
  .menu__submenu:hover:after {
    transform: rotate(90deg);
  }
  .menu__link:hover, .menu__link.active {
    color: $white;
  }
  .menu__sublist {
    position: relative;
    left: 0;
    top: 0;
    background-color: $lightblack;
    min-width: 202px;
    border-radius: 0;
    overflow: visible;
    width: 100%;
    border-top: 1px solid #5e5e5e;
  }
  .menu__submenu:hover .menu__sublist {
    display: none;
  }
  .menu__submenu:hover:after {
    transform: rotate(-90deg);
  }
  .menu__submenu.active .menu__sublist {
    display: block!important;
  }
  .menu__submenu.active:after {
    transform: rotate(90deg)!important;
  }
  .menu__sublist-link:hover {
    background-color: transparent;
  }
  .menu__submenu {
    width: 100%;
  }
  .menu__sublist-link {
    color: $white;
  }
  .menu__item {
    width: 100%;
  }
  .menu__submenu:after {
    display: none!important;
  }
  .menu__submenu .menu__link:after {
    content: '';
    z-index: 1;
    position: absolute;
    right: -22px;
    top: 22px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    border-color: #fff transparent transparent transparent;
    transition: transform 0.4s ease;
    transform: rotate(-90deg);
  }
  .menu__submenu.active .menu__link:after  {
    transform: rotate(90deg) !important;
  }
  .userpic {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    &:hover {
      .userpic__menu {
        display: none;
      }
      .userpic__info:after {
        transform: translateY(-50%);
      }
    }
    &.active{
      .userpic__menu {
        display: block!important;
      }
      .userpic__info:after {
        transform: translateY(-50%) rotate(-180deg)!important;
      }
    }
  }
  .menu__submenu.active .menu__link {
    width: 100%;
  }
  .menu__submenu.active .menu__link:after {
    right: 0;
  }
  .catalog__control {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .catalog__control-more {
    margin-bottom: 40px;
  }
  .catalog__title {
    margin-bottom: 40px;
    padding-top: 20px;
  }
  .detail__head {
    flex-wrap: wrap;
    margin-bottom: 21px;
  }
  .detail__head-photo {
    width: 100%;
    height: auto;
  }
  .detail__bottom {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .detail__description {
    width: 100%;
  }
  .detail__head-history {
    width: 100%;
    justify-content: flex-start;
  }
  .detail__share {
    justify-content: flex-start;
  }
  .detail__share-item:not(:last-child) {
    margin-right: 20px;
  }
  .detail__tags {
    width: 100%;
    padding-top: 6px;
  }
  .detail__head-photo {
    margin-bottom: 15px;
  }
  .detail__history-wrapper {
    margin-bottom: 30px;
  }
  .detail__description-text {
    margin-bottom: 30px;
  }
  .detail__description-title {
    display: none;
  }
  .detail__description-title.mobile {
    display: block;
  }
  .detail__wrapper {
    margin-bottom: 60px;
  }
  .addphoto__window {
    width: 450px;
    height: 290px;
  }
  .addphoto__data {
    width: calc(100% - 480px);
  }
  .addphoto__date {
    width: 100%;
  }
  .addphoto__date input {
    width: calc(100% - 45px);
  }
  .addphoto__addtags-content {
    width: 100%;
    margin-bottom: 30px;
  }
  .addphoto__tags {
    width: 100%;
  }
  .search .popular-categories__content-item {
    max-width: 215px;
  }
  .search__photo {
    margin-bottom: 40px;
  }
  .search__result {
    margin-bottom: 40px;
  }
  .search__story {
    margin-bottom: 40px;
  }
  .search {
    margin-bottom: 40px;
  }
  .source {
    margin-bottom: 40px;
  }
  .nopage__info {
    top: -33px;
    left: 60px;
  }
  .cabinet__tabs .popular-categories__content-item {
    max-width: 269px;
    height: 170px;
    margin-bottom: 20px;
  }
  .cabinet__tabs .popular-categories__content:after {
    max-width: 269px;
  }
}
@media screen and (max-width: 991px) {
  .header__content {
    max-width: 170px;
  }
  .header__logo-mobile {
    margin: 0 20px;
    font-size: 18px;
  }
  .main__slider-content-wrapper {
    padding-left: 48px;
    padding-right: 48px;
  }
  .main__slider-title {
    font-size: 40px;
  }
  .main__slider-subtitle {
    font-size: 28px;
    letter-spacing: 0;
    margin-bottom: 43px;
  }
  .main__slider-block {
    min-height: 460px;
    margin-bottom: 40px;
  }
  .main__popular-categories > .container {
    max-width: 100%;
  }
  .popular-categories {
    flex-wrap: wrap;
  }
  .popular-categories__content {
    width: 100%;
    margin-bottom: 15px;
  }
  .popular-categories__content-item {
    max-width: 32%;
  }
  .popular-categories__content-img img {
    object-fit: cover;
    width: 100%;
  }
  .popular-categories__aside {
    width: 100%;
  }
  .popular-categories__aside-title {
    letter-spacing: 0;
    margin-bottom: 15px;
  }
  .main__popular-categories {
    margin-bottom: 40px;
  }
  .main__about.about > .container {
    max-width: 100%;
  }
  .about__wrapper {
    padding-top: 40px;
  }
  .about__title {
    margin-bottom: 40px;
  }
  .about__img {
    width: 260px;
    height: 260px;
    margin-top: 0;
  }
  .about__info {
    width: calc(100% - 290px);
  }
  .about__sponsor-item:not(:last-child) {
    margin-right: 15px;
  }
  .about__sponsor {
    justify-content: space-between;
  }
  .about {
    min-height: auto;
    padding-bottom: 40px;
  }
  .footer > .container {
    max-width: 100%;
  }
  .footer__menu {
    display: none;
  }
  .main__slider-content-wrapper {
    padding-top: 70px;
  }
  .catalog > .container{
    max-width: 100%;
  }
  .catalog .popular-categories__content {
    margin-bottom: 40px;
  }
  .catalog__title {
    margin-bottom: 20px;
    padding-top: 30px;
    font-size: 28px;
  }
  .detail > .container {
    max-width: 100%;
  }
  .addphoto > .container {
    max-width: 100%;
  }
  .addphoto__window {
    width: 555px;
    height: 359px;
    margin-bottom: 30px;
  }
  .addphoto__content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .addphoto__data {
    width: 100%;
  }
  .stories > .container {
    max-width: 100%;
  }
  .addphoto__title,
  .stories__title,
  .search__title,
  .source__title,
  .cabinet__title {
    margin-bottom: 20px;
    padding-top: 30px;
    font-size: 28px;
  }
  .stories__item:not(:last-child) {
    margin-bottom: 60px;
  }
  .stories__item:not(:last-child):after {
    bottom: -30px;
  }
  .stories__item-title {
    letter-spacing: 0;
    font-size: 24px;
  }
  .stories__content {
    margin-bottom: 40px;
  }
  .stories__pagination {
    margin-bottom: 40px;
  }
  .stories {
    margin-bottom: 60px;
  }
  .search > .container {
    max-width: 100%;
  }
  .search .popular-categories__content-item {
    max-width: 49%;
  }
  .source > .container {
    max-width: 100%;
  }
  .source__list {
    flex-shrink: 0;
    margin-bottom: 0;
  }
  .source__list-wrapper .slick-initialized .slick-slide {
    text-align: center;
  }
  .source__table {
    display: none;
    &.active {
      display: block;
    }
  }
  .source__list-btn {
    display: block;
  }
  .source__list-wrapper-scroll {
    position: relative;
    padding: 0 20px;
  }
  .source__list-wrapper-scroll {
    margin-bottom: 30px;
  }
  .nopage__info {
    position: static;
    width: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .nopage__text {
    margin-right: 0;
    margin-bottom: 30px;
    text-align: center;
  }
  .nopage__text:before {
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    width: 270px;
    height: 95px;
    background-size: contain;
  }
  .nopage__img-wrapper {
    padding: 0;
    padding-top: 40px;
  }
  .nopage > .container {
    max-width: 100%;
  }
  .nopage__img {
    width: 600px;
    height: 390px;
    background-size: contain;
  }
  .popular-categories__content:after {
    max-width: 32%;
  }
  .catalog__photo:after {
    max-width: 32%;
  }
  .search__photo .popular-categories__content:after {
    max-width: 49%;
  }
  .cabinet__info {
    width: 100%;
    margin-bottom: 30px;
    justify-content: center;
  }
  .cabinet__content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cabinet__info .addphoto__window {
    margin-top: 0;
    margin-bottom: 0;
  }
  .cabinet__tabs .popular-categories__content-item {
    max-width: 305px;
    height: 190px;
  }
  .cabinet__tabs .popular-categories__content:after {
    display: none;
  }
  .cabinet-edit > .container {
    min-width: 100%;
  }
  .noname__img {
    width: 100%;
    height: auto;
  }
  .noname__block p {
    font-size: 23vw;
  }
  .noname__block span {
    font-size: 5vw;
  }
}
@media screen and (max-width: 768px) {
  .header__menu {
    width: 14px;
    height: 12px;
    span {
      height: 2px;
    }
  }
  .header__menu span:nth-child(3),
  .header__menu span:nth-child(4) {
    top: 5px;
  }
  .header__menu span:nth-child(5),
  .header__menu span:nth-child(6) {
    top: 10px;
  }
  .header__logo-mobile {
    font-size: 16px;
  }
  .header__content {
    max-width: 190px;
  }
  .menu {
    height: calc(100vh - 135px);
    transform: translateX(-100%);
    justify-content: flex-start;
    &.active {
      transform: translateX(0);
    }
  }
  .header__menu.open span:nth-child(1),
  .header__menu.open span:nth-child(2){
    top: 6px;
  }
  .header__menu.open span:nth-child(5),
  .header__menu.open span:nth-child(6){
    top: 3px;
  }
  .header__info-mobile {
    display: flex;
  }
  .header__authorized .userpic {
    display: none;
  }
  .header.authorized .header__info-mobile .userpic {
    display: flex;
  }
  .header .header__login {
    display: none;
  }
  .header.authorized .header__info-mobile .header__login {
    display: none;
  }
  .header .header__info-mobile .header__login {
    display: block;
  }
  .header .header__info-mobile-container {
    border-top: 1px solid #515151;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .userpic__info:after {
    transform: translateY(-50%) rotate(-90deg);
  }
  .main__slider-block {
    min-height: 430px;
    margin-bottom: 15px;
  }
  .main__slider-title {
    font-size: 24px;
  }
  .main__slider-subtitle {
    font-size: 18px;
    letter-spacing: 0;
    margin-bottom: 43px;
  }
  .main__slider-btn {
    font-size: 14px;
    width: 244px;
  }
  .main__slider-content-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .main__slider-arrows {
    display: none;
  }
  .main__slider-bg .slick-dots {
    bottom: 15px;
  }
  .main__slider-title {
    margin-bottom: 25px;
    padding-bottom: 30px;
  }
  .popular-categories__content-item {
    max-width: 48%;
  }
  .main__popular-categories {
    margin-bottom: 20px;
  }
  .about__img {
    width: 150px;
    height: 150px;
    margin-top: 0;
  }
  .about__text p {
    letter-spacing: 0;
  }
  .about__info {
    width: calc(100% - 170px);
  }
  .about__sponsor-img--ukrdim {
    width: 73px;
    height: 52px;
  }
  .about__sponsor-img--ploskiriv {
    width: 145px;
    height: 59px;
  }
  .about__title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .about__wrapper {
    padding-top: 35px;
  }
  .about__text {
    margin-bottom: 18px;
  }
  .about {
    min-height: auto;
    padding-bottom: 30px;
  }
  .footer__sponsors-item:not(:last-child) {
    margin-right: 40px;
  }
  .footer__wrapper {
    padding-top: 15px;
  }
  .about__sponsor {
    justify-content: flex-start;
  }
  .about__sponsor-item:not(:last-child) {
    margin-right: 40px;
  }
  .userpic__menu {
    right: auto;
    left: 0;
    top: auto;
    bottom: calc(100% + 14px);
    transform: translateX(0);
  }
  .detail__tags .tags__item {
    font-size: 12px;
    padding: 8px 9px 9px 11px;
  }
  .detail__title {
    font-size: 28px;
  }
  .detail__zoom {
    width: 28px;
    height: 28px;
  }
  .catalog__tag-view-title {
    font-size: 23px;
    margin-bottom: 10px;
  }
  .addphoto__window {
    width: 450px;
    height: 290px;
  }
  .addphoto__text {
    margin-bottom: 30px;
  }
  .addphoto__addtags-content {
    margin-bottom: 20px;
  }
  .addphoto__btns {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }
  .addphoto__btns .btn:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .addphoto__addtags {
    margin-bottom: 30px;
  }
  .addphoto__wrapper {
    margin-bottom: 40px;
  }
  .addphoto__btns .btn {
    width: 340px!important;
  }
  .stories__item-title {
    font-size: 18px!important;
  }
  .stories__text {
    letter-spacing: 0;
    font-size: 14px;
  }
  .stories__new-info {
    width: 100%;
  }
  .stories__new {
    flex-wrap: wrap;
    justify-content: center;
  }
  .stories__new-inputs {
    margin-bottom: 30px;
  }
  .source__table-wrapper {
    column-count: 1;
    column-gap: 0;
  }
  .source {
    margin-bottom: 30px;
  }
  .source__table {
    margin-bottom: 40px;
  }
  .nopage__img {
    width: 515px;
    height: 330px;
  }
  .popular-categories__content:after {
    max-width: 49%;
  }
  .catalog__photo:after {
    max-width: 48%;
  }
  .source__table-wrapper a {
    padding: 3px 0;
  }
  .cabinet > .container {
    min-width: 100%;
  }
  .cabinet__tabs .popular-categories__content-item {
    max-width: 49%;
    height: 170px;
    margin-bottom: 15px;
  }
  .cabinet__tabs .popular-categories__content-img img {
    height: 100%;
  }
  .cabinet__tabs .popular-categories__content-img {
    width: 100%;
    height: 100%;
  }
  .cabinet__info {
    justify-content: center;
  }
  .cabinet__info .addphoto__window {
    margin-right: 40px;
    margin-bottom: 0;
    width: 220px;
    height: 220px;
  }
  .cabinet__infoblock {
    width: 100%;
  }
  .cabinet__data {
    margin-bottom: 10px;
  }
  .cabinet__tabs .tab__item {
    padding-top: 0;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
  }
  .tab__item:not(:last-child) {
    margin-right: 10px;
  }
  .cabinet {
    margin-bottom: 40px;
  }
  .cabinet-edit__content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cabinet-edit__btn {
    flex-direction: column;
    align-items: center;
  }
  .cabinet-edit__btn .btn:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .popup-window {
    width: calc(100% - 30px);
    max-width: 100%;
    padding: 30px 15px;
  }
  .popup-window h2 {
    font-size: 22px;
    margin-bottom: 15px;
    letter-spacing: 0;
  }
  .popup-window>span {
    margin-bottom: 30px;
    max-width: 100%;
  }
  .noname__img:before,
  .noname__img:after {
    display: none;
  }
  .noname h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 640px) {
  .header__lang {
    display: none;
  }
  .header__search {
    width: 100%;
    max-width: calc(100% - 30px);
    position: absolute;
    top: -8px;
    left: 0;
    display: none;
  }
  .header__search-submit--mobile {
    display: block;
  }
  .header__content {
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .breadcrums__wrapper {
    padding-top: 55px;
  }
  .menu {
    display: flex;
    top: 55px;
    height: calc(100vh - 118px);
  }
  .header__info-mobile {
    display: flex;
  }
  .menu__link {
    font-size: 14px;
    font-weight: 300;
  }
  .mobile-lng {
    display: flex;
    &__item {
      font-size: 14px;
      font-weight: 300;
      color: rgba(255,255,255,.3);
      padding: 5px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      &:not(:last-child) {
        margin-right: 7px;
      }
      &.active {
        color: rgb(255,255,255);
      }
    }
  }
  .header__search-close {
    display: block;
  }
  .header__logo-mobile {
    width: 100%;
    text-align: center;
    padding-right: 15px;
  }
  .catalog__control-more {
    margin-bottom: 30px;
  }
  .catalog .popular-categories__content {
    margin-bottom: 30px;
  }
  .catalog .popular-categories__aside-title {
    margin-bottom: 15px;
  }
  .detail__description-title {
    display: none!important;
  }
  .detail__tags {
    margin-bottom: 25px;
  }
  .source__list a {
    font-size: 22px;
  }
  .source__table-title {
    font-size: 22px;
  }
}
@media screen and (max-width: 543px) {
  .main__slider-block:before {
    content: '';
    position: absolute;
    z-index: 2;
    left: 0;
    top: -27px;
    width: 34px;
    height: 100%;
    background: url("../img/mobile-bg-left.png") no-repeat center;
  }
  .main__slider-block:after {
    content: '';
    position: absolute;
    z-index: 2;
    right: 0;
    top: -60px;
    width: 34px;
    height: 100%;
    background: url("../img/mobile-bg-right.png") no-repeat center;
  }
  .popular-categories__content-item {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .popular-categories__content {
    margin-bottom: 25px;
  }
  .about__text p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
  }
  .about__sponsor-text {
    font-size: 10px;
    margin-bottom: 8px;
  }
  .about__block {
    flex-wrap: wrap;
  }
  .about__img {
    width: 100%;
    height: 100%;
    margin-bottom: 18px;
    img {
      object-fit: cover;
    }
  }
  .about__info {
    width: 100%;
  }
  .main__about {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      width: 100%;
      height: 59px;
      background: url("../img/mobile-about-top.png") no-repeat center;
      background-size: cover;
    }
  }
  .footer {
    position: relative;
    min-height: auto;
    padding: 36px 0 36px;
    background: $lightblack;
    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      width: 101px;
      height: 100%;
      background: url("../img/mobile-bg-footer-left.png") no-repeat center;
      background-size: cover;
    }
    &:after {
      content: '';
      position: absolute;
      z-index: 2;
      right: 0;
      bottom: 0;
      width: 92px;
      height: 246px;
      background: url("../img/mobile-bg-footer-right.png") no-repeat center;
      background-size: cover;
    }
  }
  .footer__logo {
    width: 100%;
    height: auto;
    margin-top: 0;
    order: 1;
    margin-bottom: 30px;
    svg {
      display: none;
    }
    span {
      display: block;
    }
  }
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 0;
  }
  .footer__soc {
    order: 2;
    margin-top: 0;
    margin-bottom: 30px;
    flex-direction: row;
    align-items: center;
  }
  .footer__center {
    margin: 0;
    order: 3;
    width: 100%;
    padding: 0 25px;
  }.footer__soc-title {
     margin-bottom: 0;
     letter-spacing: 0;
     margin-right: 20px;
   }
  .footer__sponsors-item:not(:last-child) {
    margin-right: 45px;
  }
  .footer__sponsors {
    padding-top: 0;
    width: 100%;
    justify-content: center;
  }
  .popup__item {
    padding-top: 50px!important;
  }
  .popup__title {
    font-size: 28px;
    letter-spacing: 0;
  }
  .popup__close {
    top: 20px;
    width: 20px;
    height: 20px;
  }
  .popup__subtitle {
    font-size: 16px;
    letter-spacing: 0;
    margin-bottom: 30px;
  }
  .popup__input-wrapper {
    padding: 0;
    margin-bottom: 30px;
  }
  .popup__links {
    margin-bottom: 40px;
  }
  .popup {
    height: auto;
    padding-bottom: 50px;
  }
  .popup__restore .popup__input-wrapper {
    margin-bottom: 30px;
  }
  .popup__register .popup__title {
    margin-bottom: 30px;
  }
  .popup__recaptcha {
    margin-top: 30px;
  }
  .popup__register .popup__btn {
    margin-bottom: 40px;
  }
  .menu__submenu .menu__link {
    width: 100%;
  }
  .menu__submenu .menu__link:after {
    right: 0;
  }
  .pagination__item {
    font-size: 14px;
    width: 36px;
    height: 36px;
  }
  .breadcrums {
    display: none;
  }
  .breadcrums__wrapper {
    display: none;
  }
  .catalog__title {
    margin-bottom: 20px;
  }
  .catalog__photo {
    margin-bottom: 10px;
  }
  .catalog__control-pagination {
    display: none;
  }
  .catalog__control-more {
    margin-bottom: 10px;
  }
  .detail__share-item {
    width: 140px;
    height: 40px;
  }
  .detail__share {
    justify-content: space-between;
  }
  .detail__share-item:not(:last-child) {
    margin-right: 0;
  }
  .detail__tags {
    margin-bottom: 15px;
  }
  .detail__description-text p {
    font-size: 14px;
    line-height: 1.4;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  .comments__img {
    flex-shrink: 0;
    width: 39px;
    height: 39px;
  }
  .detail__zoom {
    width: 16px;
    height: 16px;
  }
  .detail__title {
    margin-bottom: 20px;
  }
  .addphoto__window {
    width: 100%;
    height: auto;
    padding-top: 58%;
  }
  .addphoto__window {
    margin-bottom: 30px;
    label {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .addphoto__data-row {
    flex-wrap: wrap;
  }
  .addphoto__data-name {
    width: 100%;
    margin-bottom: 5px;
    padding: 0!important;
  }
  .addphoto__content {
    margin-bottom: 10px;
  }
  .addphoto__text-title {
    margin-bottom: 5px;
  }
  .addphoto__text {
    margin-bottom: 8px;
  }
  .addphoto__addtags-title {
    margin-bottom: 5px;
  }
  .addphoto__addtags-content input {
    width: calc(100% - 110px);
    margin-right: 0;
  }
  .addphoto__addtags-content {
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .addphoto__addtags-text {
    font-size: 14px;
    width: auto;
  }
  .addphoto__addtags-text i {
    left: -18px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
  }
  .addphoto__addtags-text-bottom {
    padding: 10px 13px;
  }
  .addphoto__tags .tags__item {
    font-size: 14px;
    padding: 8px 9px 9px 11px;
  }
  .addphoto__addtags {
    margin-bottom: 20px;
  }
  .addphoto__btns .btn:not(:last-child) {
    margin-bottom: 15px;
  }
  .addphoto__btns .btn {
    width: 100%;
    font-size: 14px;
  }
  .addphoto__wrapper {
    margin-bottom: 30px;
  }
  .addphoto__text textarea {
    min-height: auto;
  }
  .addphoto__btns .btn {
    width: 290px !important;
  }
  .stories__pagination {
    display: none;
  }
  .stories__content {
    margin-bottom: 30px;
  }
  .stories {
    margin-bottom: 30px;
  }
  .stories__btn .btn {
    width: 290px;
    font-size: 14px;
  }
  .stories__img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .stories__item {
    flex-wrap: wrap;
  }
  .stories__new .addphoto__window {
    width: 100%;
    height: auto;
    padding-top: 75%;
  }
  .search .popular-categories__content-item {
    max-width: 100%;
  }
  .search__photo-title {
    margin-bottom: 15px;
    font-size: 24px;
    width: 100%;
    text-align: left;
  }
  .search__result {
    margin-bottom: 30px;
    font-size: 14px;
  }
  .search__photo .btn {
    width: 290px;
    font-size: 14px;
  }
  .search__photo {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .search__photo .popular-categories__content {
    margin-bottom: 10px;
  }
  .search__story-title {
    margin-bottom: 15px;
    font-size: 24px;
  }
  .search__source-content a {
    font-size: 13px;
  }
  .search__source-title {
    letter-spacing: .6px;
    margin-bottom: 15px;
    font-size: 24px;
  }
  .source__table {
    margin-bottom: 30px;
  }
  .source__btn .btn {
    font-size: 14px;
  }
  .source__table-wrapper a {
    font-size: 13px;
    letter-spacing: 0;
  }
  .search__photo .popular-categories__content {
    display: none;
  }
  .search__photo .popular-categories__content.mobile {
    display: block;
  }
  .nopage__img {
    width: 290px;
    height: 190px;
  }
  .nopage__text {
    font-size: 20px;
  }
  .nopage__text br {
    display: block;
  }
  .nopage__text:before {
    width: 190px;
    height: 70px;
    opacity: .75;
  }
  .nopage__info .btn {
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 2px;
    font-size: 14px;
    width: 290px;
  }
  .nopage__img-wrapper {
    padding-top: 30px;
  }
  .popular-categories__content:after {
    max-width: 100%;
  }
  .catalog__photo:after {
    max-width: 100%;
  }
  .cabinet__tabs .popular-categories__content-item {
    max-width: 100%;
    height: auto;
  }
  .cabinet__tabs .tab__content {
    padding: 0 0 15px;
    border-radius: 25px;
  }
  .cabinet__infoblock {
    align-items: flex-start;
  }
  .cabinet__info {
    margin-bottom: 20px;
  }
  .cabinet__btns {
    width: 290px;
    padding-top: 0;
  }
  .cabinet__info .addphoto__window {
    width: 100%;
    height: auto;
    padding-top: 100%;
  }
  .cabinet__info .addphoto__window label {
    height: 39px;
    top: auto;
    bottom: 0;
  }
  .cabinet__info .tab__content {
    margin-top: 0;
  }
  .cabinet__tabs .tab__wrapper {
    margin-bottom: 10px;
    flex-direction: column;
  }
  .cabinet__tabs .tab__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 0;
  }
  .cabinet__tabs .tab__item {
    border-radius: 25px!important;
  }
  .cabinet__tabs  .tab__item {
    border-bottom-color: #ebebeb;
  }
  .cabinet__tabs  .tab__item.active {
    border: none;
  }
  .cabinet {
    margin-bottom: 30px;
  }
  .cabinet__pagination .pagination__item:nth-child(3),
  .cabinet__pagination .pagination__item:nth-child(4){
    display: none;
  }
  .cabinet__tabs .popular-categories__content {
    margin-bottom: 0;
  }
  .cabinet__stories .stories__item:not(:last-child) {
    margin-bottom: 60px;
  }
  .cabinet__stories .stories__item:not(:last-child):after {
    bottom: -35px;
  }
  .cabinet__stories .stories__img {
    margin-right: 0;
    width: 100%;
    height: auto;
  }
  .cabinet__stories  .stories__item {
    justify-content: center;
  }
  .cabinet-edit__btn .btn {
    min-width: 290px;
    font-size: 14px;
    letter-spacing: 2px;
  }
  .cabinet__btns .btn {
    font-size: 14px;
  }
  .cabinet-edit__content {
    margin-bottom: 20px;
  }
  .cabinet-edit .cabinet__info {
    margin-bottom: 0;
  }
  .cabinet-edit__content .addphoto__data-name {
    width: 100%;
    font-size: 14px;
  }
  .cabinet-edit__content .addphoto__data {
    flex-wrap: wrap;
  }
  .cabinet__tabs .tab__wrapper {
    display: none;
  }

  .cabinet__tabs .tab__content-item {
    display: block;
    &>* {
      display: none;
    }
    &>.tab__item {
      display: flex;
    }
    &.active {
      &>* {
        display: flex;
      }
    }
  }
  .cabinet__tabs .tab__content-item {
    min-height: auto;
    margin: 20px 0;
  }
  .cabinet__tabs .tab__content {
    padding: 0;
    border-radius: 0;
    border: none;
  }
  .cabinet__tabs .tab__content-item.active {
    padding: 0 15px 15px;
    border-radius: 25px;
    border: 1px solid #d9d9d9;
  }
  .cabinet__tabs .tab__content-item.active .tab__item {
    background-color: #fff!important;
    border: none;
  }
  .cabinet__tabs .cabinet__stories {
    flex-direction: column;
  }
  .cabinet__info {
    flex-wrap: wrap;
  }
  .cabinet__info .addphoto__window {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .cabinet__infoblock {
    align-items: center;
  }
  .cabinet__data {
    margin-bottom: 20px;
  }
  .cabinet__infoblock {
    justify-content: flex-start;
  }
  .addphoto__data-row label.error {
    top: 36px;
    padding-left: 0;
  }
  .page-sort {
    flex-wrap: wrap;
    justify-content: center;
    span {
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      margin-right: 0;
      font-size: 14px;
    }
    a {
      font-size: 14px;
      padding: 13px;
    }
  }
  .noname h1 {
    font-size: 24px;
    padding: 0 0 80px;
    letter-spacing: 0;
  }

  .noname .wall {
    bottom: 0;
    right: -12px;
    width: 98px;
    height: 92px;
  }
  .noname .lake {
    position: absolute;
    left: 3%;
    top: -33%;
    width: 136px;
    height: 64px;
  }
}
@media screen and (orientation: landscape) and (max-height: 470px) and (max-width: 700px) {
  .menu {
    overflow-y: scroll;
    height: auto;
  }
  .menu__item:not(:last-child) {
    margin-bottom: 6px;
  }
}