@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Light.woff2') format('woff2'),
  url('fonts/Raleway-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-ExtraBold.woff2') format('woff2'),
  url('fonts/Raleway-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-BoldItalic.woff2') format('woff2'),
  url('fonts/Raleway-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Medium.woff2') format('woff2'),
  url('fonts/Raleway-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Bold.woff2') format('woff2'),
  url('fonts/Raleway-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-SemiBold.woff2') format('woff2'),
  url('fonts/Raleway-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-ExtraLight.woff2') format('woff2'),
  url('fonts/Raleway-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Regular.woff2') format('woff2'),
  url('fonts/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$raleway: 'Raleway',Arial,Helvetica,sans-serif;

