.mCSB_inside>.mCSB_container {
  margin-right: 15px;
}
.mCSB_scrollTools {
  width: 15px;
  opacity: 1;
}
.mCSB_draggerContainer {
  border: 1px solid #d9d9d9;
}
.mCSB_scrollTools .mCSB_draggerRail {
  width: 100%;
  border-radius: 0;
  background-color: #fff;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 9px;
  background-color: $darkgreen!important;
  border-radius: 0;
  opacity: 1!important;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}