select {
  display: none;
}
.jq-selectbox {
  position: relative;
}
.jq-selectbox__select {
  position: relative;
  font-weight: 300;
  font-size: 16px;
  display: inline-block;
}
.jq-selectbox__select-text {
  display: inline-block;
  padding: 9px 10px 8px 21px;
}
.jq-selectbox__trigger {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
}
.jq-selectbox__trigger-arrow {
  position: absolute;
  right: -7px;
  top: 16px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: $black transparent transparent transparent;
  transform: rotate(0);
  -webkit-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
}
.jq-selectbox.opened {
  .jq-selectbox__trigger-arrow {
    transform: rotate(-180deg);
  }
}
.jq-selectbox__dropdown {
  background-color: #fff;
  flex-direction: column;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  margin-top: 5px;
  min-width: 197px;
  position: absolute;
}
.jq-selectbox__dropdown li {
  padding: 8px 10px 9px 19px;
  cursor: pointer;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  &:nth-child(even) {
    background-color: $lightgray;
  }
  &:hover {
    color: $green;
    text-decoration: underline;
  }
}