.nopage {
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  &__img-wrapper {
    padding: 14px 16px 0 0;
  }
  &__img {
    flex-shrink: 0;
    width: 759px;
    height: 480px;
    background: url('../img/404.png') no-repeat center;
    background-size: cover;
  }
  &__info {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    top: -48px;
    left: 159px;
    .btn {
      margin-top: 3px;
      padding-left: 28px;
      padding-right: 28px;
      letter-spacing: 3px;
    }
  }
  &__text {
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    color: #000;
    letter-spacing: 4.6px;
    text-align: right;
    margin-right: 23px;
    &:before {
      content: '';
      position: absolute;
      left: -52px;
      top: -40px;
      width: 343px;
      height: 128px;
      background: url('../img/bg-404.png') no-repeat center;
    }
  }
}