.addphoto {
  &__wrapper {
    margin-bottom: 81px;
  }
  &__title {
    text-align: center;
    margin-bottom: 42px;
    letter-spacing: 1px;
  }
  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 27px;
  }
  &__window {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 555px;
    height: 359px;
    flex-shrink: 0;
    background-color: $lightblack;
    border-radius: 3px;
    &.withimage {
      background-color: transparent;
      .addphoto__window-text {
        display: none;
      }
      .addphoto__delphoto {
        display: block;
      }
    }
  }
  &__window-text {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      span {
        color: $green;
      }
      svg {
        fill: $green;
      }
    }
    i {
      display: inline-block;
      position: relative;
      width: 27px;
      height: 21px;
      margin-right: 10px;
      svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        fill: $white;
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease;
      }
    }
    span {
      font-size: 20px;
      color: $white;
      -webkit-transition: color 0.3s ease;
      transition: color 0.3s ease;
      text-decoration: underline;
    }
  }
  &__newphoto {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  &__preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__delphoto {
    font-size: 16px;
    font-weight: 500;
    display: none;
    position: absolute;
    bottom: -27px;
    left: 50%;
    transform: translateX(-50%);
    color: $green;
    i {
      position: absolute;
      right: -18px;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      svg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        fill: $green;
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease;
      }
    }
    &:hover {
      color: $darkgreen;
      svg {
        fill: $darkgreen;
      }
    }
  }
  &__data {
    width: calc(100% - 586px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__data-row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    textarea {
      resize: none!important;
      width: 100%;
      min-height: 159px;
      font-weight: 500;
    }
    input.error {
      position: relative;
      z-index: 2;
      background: transparent;
    }
    label.error {
      bottom: auto;
      top: 12px;
      padding-left: 106px;
      font-size: 14px;
      z-index: 1;
    }
    label.error:after {
      top: 0;
      width: 17px;
      height: 17px;
    }
  }
  &__data-name {
    display: inline-block;
    width: 106px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    flex-shrink: 0;
    padding: 10px 0;
  }
  &__data-input {

  }
  &__date {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    input {
      width: 407px;
      margin-right: 17px;
      flex-shrink: 0;
    }
    .ui-datepicker-trigger {
      cursor: pointer;
      position: relative;
      width: 15px;
      height: 15px;
      opacity: .6;
      -webkit-transition: opacity 0.2s ease;
      transition: opacity 0.2s ease;
      &:hover {
        opacity: 1;
      }
    }
  }
  &__text {
    margin-bottom: 32px;
    textarea {
      resize: none!important;
      width: 100%;
      min-height: 250px;
      font-weight: 500;
    }
  }
  &__text-title {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin-bottom: 16px;
    width: 100%;
  }
  &__addtags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
  }
  &__addtags-title {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin-bottom: 16px;
    width: 100%;
  }
  &__addtags-content {
    width: calc(100% - 585px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    input {
      width: 360px;
      padding: 14px 14px 13px;
      margin-right: 54px;
    }
  }
  &__addtags-text {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 15px;
    color: #46b297;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
    i {
      display: inline-block;
      position: absolute;
      left: -24px;
      top: 1px;
      width: 16px;
      height: 16px;
      svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        fill: #46b297;
      }
    }
  }
  &__addtags-text-bottom {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    padding: 14px;
    letter-spacing: -.2px;
  }
  &__tags {
    width: 555px;
    flex-shrink: 0;
    .tags__item {
      font-size: 16px;
      padding: 13px 16px 14px 19px;
      letter-spacing: -.3px;
    }
  }
  &__btns {
    display: flex;
    justify-content: flex-end;
    .btn {
      font-size: 16px;
      padding: 16px 10px 13px;
      &:not(:last-child) {
        margin-right: 29px;
      }
      &:nth-child(1) {
        width: 263px;
      }
      &:nth-child(2) {
        width: 359px;
      }
    }
  }
}