.cabinet-edit {
  margin-bottom: 80px;
  &__wrapper {

  }
  &__title {
    text-align: center;
    margin-bottom: 37px;
    letter-spacing: 1px;
  }
  .cabinet__info {
    flex-direction: column;
  }
  &__content {
    width: 100%;
    display: flex;
    margin-bottom: 40px;
    .addphoto__data {
      width: 100%;
    }
    .addphoto__date {
      width: 100%;
    }
    .addphoto__date input {
      width: calc(100% - 45px);
    }
    .addphoto__window {
      margin-top: 0;
    }
    .addphoto__data-name {
      width: 196px;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    .btn {
      min-width: 263px;
      letter-spacing: 1px;
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}