.cabinet {
  margin-bottom: 80px;
  &__wrapper {

  }
  &__title {
    text-align: center;
    margin-bottom: 37px;
    letter-spacing: 1px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__info {
    display: flex;
    .addphoto__window {
      width: 263px;
      height: 263px;
      margin-right: 30px;
      margin-top: 4px;
    }
    label {
      height: 39px;
      width: 100%;
      background-color: rgba(0,0,0,.5);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .addphoto__window-text span {
      font-size: 15px;
    }
    .addphoto__window-text i {
      width: 18px;
      height: 15px;
      margin-right: 7px;
    }
    .addphoto__window.withimage .addphoto__window-text {
      display: block;
    }
    .addphoto__delphoto {
      font-size: 13px;
      bottom: -22px;
    }
    .addphoto__preview img {
      object-fit: cover;
    }
  }
  &__infoblock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__data {
    display: flex;
    flex-direction: column;
  }
  &__data-row {
    display: flex;
    font-size: 16px;
    color: #000;
    b {
      margin-right: 4px;
    }
    span {
      font-weight: 300;
    }
    a {
      color: #000;
      &:hover {
        color: $green;
      }
    }
    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
  &__edit-link {
    position: relative;
    font-size: 15px;
    color: #46b297;
    padding-left: 24px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
    i {
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 1px;
      svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        fill: #46b297;
      }
    }
  }
  &__btns {
    width: 263px;
    flex-shrink: 0;
    padding-top: 4px;
    .btn {
      width: 100%;
      font-size: 16px;
      &:not(:last-child) {
        margin-bottom: 17px;
      }
      &:nth-child(2) {
        svg {
          display: none;
        }
        &:after {
          position: absolute;
          content: '';
          width: 60px;
          height: 56px;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          z-index: 0;
          background: url("../img/sprites/bricks.png") no-repeat center;
          background-size: 100%;
        }
      }
      &:nth-child(3) {
        svg {
          display: none;
        }
        &:after {
          position: absolute;
          content: '';
          width: 107px;
          height: 51px;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          z-index: 0;
          background: url("../img/sprites/lake.png") no-repeat center;
        }
      }
    }
  }
  &__tabs {
    .tab__content-item {
      min-height: 200px;
    }
    .tab__content {
      padding: 30px 29px;
    }
    .tab__item {
      padding-top: 4px;
      letter-spacing: 3px;
    }
    .popular-categories__content {
      width: 100%;
      margin-bottom: 15px;
    }
    .popular-categories__content-item {
      max-width: 259px;
      height: 155px;
      margin-bottom: 15px;
    }
    .popular-categories__content:after {
      max-width: 259px;
    }
    .popular-categories__content-item:hover .popular-categories__content-img:before {
      display: none;
      opacity: 0;
    }
    .popular-categories__content-item:hover .popular-categories__content-text {
      opacity: 1;
    }
    .popular-categories__content-item:hover .cabinet__photo-control {
      opacity: 1;
    }
    .tab__content-item .tab__item {
      display: none;
    }
  }
  &__photo-control {
    opacity: 0;
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 2;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    a {
      position: relative;
      display: inline-block;
      &:hover {
        svg {
          fill: rgba(255,255,255,1);
        }
      }
      svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        fill: rgba(255,255,255,.7);
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease;
      }
    }
  }
  &__photo-control-edit {
    width: 16px;
    height: 16px;
  }
  &__photo-control-remove {
    width: 13px;
    height: 16px;
    margin-left: 11px;
  }
  &__pagination {
    display: flex;
    justify-content: center;
    &--stories {
      margin-bottom: 11px;
    }
    .pagination {
      width: auto;
    }
  }
  &__stories {
    margin-bottom: 23px;
    p:last-of-type {
      margin-bottom: 2px;
    }
    .stories__img {
      width: 233px;
      height: 162px;
    }
    .stories__item:not(:last-child) {
      margin-bottom: 79px;
    }
    .stories__item:not(:last-child):after {
      bottom: -45px;
    }
  }
  &__stories-btns {
    a {
      position: relative;
      display: inline-block;
      color: #46b297;
      text-decoration: underline;
      font-size: 12px;
      padding-left: 20px;
      &:not(:last-child) {
        margin-right: 28px;
      }
      &:hover {
        text-decoration: none;
      }
    }
    i {
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        fill: #46b297;
      }
    }
  }
  &__btn-edit {
    i {
      width: 12px;
      height: 12px;
    }
  }
  &__btn-remove {
    i {
      width: 10px;
      height: 12px;
    }
  }
}

.cabinet__tabs .tab__wrapper.mobile {
  display: none;
}