.catalog {
  &__title {
    text-align: center;
    line-height: 1;
    margin-bottom: 48px;
  }
  &__content {
    margin-bottom: 40px;
    align-items: flex-start;
  }
  &__photo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
    &:after {
      content: '';
      width: 100%;
      max-width: 269px;
      height: 0;
      opacity: 0;
    }
  }
  .popular-categories__aside-title {
    margin-bottom: 35px;
  }
  &__alltags {
    display: inline-block;
    margin-top: 10px;
  }
  &__control {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__control-more {
    .btn {
      padding: 16px 48px 13px;
    }
  }
  &__tag-view {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 15px;
  }
  &__tag-view-title {
    font-size: 28px;
    color: #000;
    font-weight: 500;
    margin-right: 10px;
  }
  &__tagsremove {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 12px;
    cursor: pointer;
    color: #000;
    padding: 8px 9px 9px 11px;
    text-decoration: underline;
    &:hover {
      svg {
        fill: rgba(0,0,0,1);
      }
    }
    i {
      position: relative;
      width: 12px;
      height: 12px;
      display: inline-block;
      flex-shrink: 0;
      margin-left: 7px;
      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 8px;
        height: 8px;
        fill: rgba(0,0,0,.6);
      }
    }
  }
}