.detail {
  &__wrapper {
    margin-bottom: 100px;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
  }
  &__head-photo {
    width: 750px;
    height: 485px;
    flex-shrink: 0;
  }
  &__head-history {
    width: calc(100% - 780px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__head-item {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover {
      .detail__zoom svg {
        fill: $lightgreen;
      }
    }
  }
  &__zoom {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    svg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      fill: $white;
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease;
    }
  }
  &__control {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 16px;
    a {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #000;
      text-decoration: none;
      -webkit-transition: color 0.3s ease;
      transition: color 0.3s ease;
      &:hover {
        color: $green;
        text-decoration: underline;
        svg {
          fill: $green;
        }
      }
    }
    i {
      position: relative;
      display: inline-block;
      width: 21px;
      height: 40px;
      svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        fill: $black;
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease;
      }
    }
  }
  &__control-prev {
    text-align: left;
    span {
      margin-left: 13px;
    }
  }
  &__control-next {
    text-align: right;
    span {
      margin-right: 13px;
    }
  }
  &__title {
    letter-spacing: -.9px;
    margin-bottom: 30px;
    padding-top: 30px;
    text-align: center;
  }
  &__subtitle {
    line-height: 1.6;
  }
  &__info {
    display: flex;
    flex-direction: column;
    & > span {
      display: block;
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
    b {
      margin-right: 4px;
    }
    a {
      font-size: 16px;
      font-weight: 600;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__share {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__share-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 46px;
    border-radius: 3px;
    flex-shrink: 0;
    color: #fff;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    &:hover {
      &.detail__share-item--fb {
        background-color: #42539e;
      }
      &.detail__share-item--inst {
        background-color: #356d5c;
      }
    }
    &--fb {
      background-color: #4267b2;
    }
    &--inst {
      background-color: #3e806f;
    }
    i {
      display: inline-block;
      position: relative;
      width: 18px;
      height: 18px;
      margin-right: 9px;
      svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        fill: $white;
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__description {
    width: 750px;
    flex-shrink: 0;
  }
  &__tags{
    width: calc(100% - 780px);
    padding-top: 6px;
    .tags__item {
      font-size: 16px;
      padding: 13px 16px 14px 19px;
      letter-spacing: -.3px;
    }
  }
  &__description-title {
    letter-spacing: -.9px;
    margin-bottom: 15px;
    &.mobile {
      display: none;
    }
  }
  &__comments {
    .comments {
      margin-bottom: 29px;
    }
  }
  &__comments-title {
    font-size: 26px;
    margin-bottom: 22px;
    span {
      &:first-child {
        margin-right: 8px;
      }
    }
  }
  &__description-text {
    margin-bottom: 46px;
  }
  &__com-form {

  }
  &__com-textarea-wrapper {
    position: relative;
    margin-bottom: 16px;
    label.error {
      bottom: -8px;
    }
    label.error:after {
      top: -63px;
    }
  }
  &__com-textarea {
    resize: none;
    min-height: 100px;
    font-weight: 500;
  }
  &__com-btn {
    max-width: 355px;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}