body {
  font-family: $raleway;
  font-weight: normal;
}
.page-wrapper {
  position: relative;
  max-width: 1920px;
  width: 100%;
}
.page-body {
  position: relative;
  z-index: 2;
  .breadcrums {
    padding-top: 28px;
  }
}
h1 {
  font-weight: 700;
  font-size: 54px;
  line-height: 1;
  letter-spacing: -.2px;
}
h2 {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: -.2px;
}
h3 {
  font-weight: 500;
  font-size: 28px;
  letter-spacing: -.2px;
}
textarea {
  font-family: 'Raleway', sans-serif;
}
.quote {
  display: block;
  position: relative;
  text-align: center;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 91px;
    z-index: 1;
    opacity: .07;
    background: url(../img/svg/quote.svg) no-repeat center;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 91px;
    z-index: 1;
    opacity: .07;
    background: url(../img/svg/quote.svg) no-repeat center;
    transform: rotate(180deg);
  }
  > * {
    display: block;
  }
  span, p, b, a {
    font-size: 24px;
    letter-spacing: 0;
    z-index: 2;
  }
}
a {
  font-size: 16px;
  color: $green;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  &.link {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    &:hover,
    &.hover {
      color: $darkgreen;
    }
    &:active,
    &.active {
      color: $darkgreen;
    }
    &:visited,
    &.visited {
      color: $darkgray;
    }
  }
}
ul {
  list-style: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
p {
  font-size: 16px;
  font-weight: 400;
  color: $black;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
b {
  font-weight: bold;
}
p::-moz-selection {
  background-color: $lightgreen;
}
p::selection {
  background-color: $lightgreen;
}
b::-moz-selection {
  background-color: $lightgreen;
}
b::selection {
  background-color: $lightgreen;
}
span::-moz-selection {
  background-color: $lightgreen;
}
span::selection {
  background-color: $lightgreen;
}
h1::-moz-selection {
  background-color: $lightgreen;
}
h1::selection {
  background-color: $lightgreen;
}
h2::-moz-selection {
  background-color: $lightgreen;
}
h2::selection {
  background-color: $lightgreen;
}
h3::-moz-selection {
  background-color: $lightgreen;
}
h3::selection {
  background-color: $lightgreen;
}
a::-moz-selection {
  background-color: $lightgreen;
}
a::selection {
  background-color: $lightgreen;
}
input::-moz-selection {
  background-color: $lightgreen;
}
input::selection {
  background-color: $lightgreen;
}
br::-moz-selection {
  background-color: $lightgreen;
}
br::selection {
  background-color: $lightgreen;
}
img::-moz-selection {
  background-color: $lightgreen;
}
img::selection {
  background-color: $lightgreen;
}
.selected-text {
  background-color: $lightgreen;
}
.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: 2px solid $white;
  border-radius: 20px;
  padding: 12px 10px 10px 15px;
  width: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  &:hover,
  &.hover {
    color: #000;
    background-color: #fff;
  }
}
.btn {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $black;
  background-color: $lightgreen;
  border-radius: 25px;
  padding: 16px 10px 13px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: none;
  outline: none;
  cursor: pointer;
  span {
    position: relative;
    z-index: 2;
  }
  svg {
    position: absolute;
    width: 160px;
    height: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    fill: #fff;
    opacity: .5;
    z-index: 1;
  }
  &.hover,
  &:hover {
    background-color: $green;
    color: $black;
  }
  &.active,
  &:active {
    background-color: $darkgreen;
    color: $white;
  }
  &.unactive {
    pointer-events: none;
    background-color: $gray;
    color: $black;
  }
}
.tab {
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $black;
    cursor: pointer;
    height: 50px;
    background-color: $gray;
    border: 1px solid $gray;
    font-weight: 500;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-color: #d9d9d9;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    &.active {
      pointer-events: none;
      border: 1px solid #d9d9d9;
      background-color: #fff;
      border-bottom-color: $white;
    }
    &:not(:last-child) {
      margin-right: 21px;
    }
  }
  &__content {
    border: 1px solid #d9d9d9;
    padding: 22px 30px;
    margin-top: -1px;
  }
  &__content-item {
    display: none;
    &.active {
      display: block;
    }
  }
}
.userpic {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  &:hover {
    .userpic__menu {
      display: block;
    }
    .userpic__info:after {
      transform: translateY(-50%) rotate(-180deg);
    }
  }
  &:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 10px;
    width: 100%;
    background-color: transparent;
  }
  &__img {
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid $white;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    padding-right: 32px;
    &:after {
      content: '';
      z-index: 1;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      border-color: $white transparent transparent transparent;
      -webkit-transition: transform 0.4s ease;
      transition: transform 0.4s ease;
    }
  }
  &__text {
    font-size: 15px;
    color: $white;
  }
  &__menu {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 42px;
    background-color: #f2f2f2;
    z-index: 3;
    width: 202px;
    border-radius: 2px;
    overflow: hidden;
  }
  &__menu-item {
    font-size: 14px;
    color: #000;
    padding: 0 16px;
    font-weight: 300;
    letter-spacing: -.2px;
    width: 100%;
    min-height: 41px;
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: $lightgreen;
    }
  }
}
input[type="search"],
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  font-weight: 300;
  font-size: 14px;
  padding: 12px 14px 10px;
  color: #000000;
  border-radius: 2px;
  letter-spacing: -0.3px;
  border: 1px solid #b7b7b7;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  &::placeholder {
    color: rgba(0,0,0,.6);
  }
}

.radiobutton {
  &__wrapper {
    display: inline-block;
  }
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  label {
    position: relative;
    cursor: pointer;
    padding-left: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input:checked ~ i {
      border: 1px solid $lightgreen;
      background-color: $lightgreen;
    }
  }
  i {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #b7b7b7;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  span {
    font-size: 14px;
    font-weight: 300;
    color: $black;
    vertical-align: text-top;
    letter-spacing: -.1px;
  }
}
.checkbox {
  &__wrapper {
    display: inline-block;
  }
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  label {
    position: relative;
    cursor: pointer;
    padding-left: 27px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input:checked ~ i {
      background-color: $lightgreen;
      &:after {
        opacity: 1;
      }
    }
  }
  i {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background-color: $gray;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:after {
      content: '';
      position: absolute;
      left: 2px;
      top: 3px;
      width: 12px;
      height: 9px;
      background: url(../img/svg/checkbox.svg) no-repeat center;
      opacity: 0;
      -webkit-transition: opacity 0.35s ease;
      transition: opacity 0.35s ease;
    }
  }
  span {
    font-size: 14px;
    font-weight: 300;
    color: $black;
    vertical-align: text-top;
    letter-spacing: -.1px;
  }
}
.comments {
  &__item {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }
  &__img {
    margin-top: 2px;
    border-radius: 3px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__info {
    margin-left: 17px;
    display: flex;
    flex-direction: column;
  }
  &__name {
    font-size: 14px;
    font-weight: bold;
    color: $black;
    margin-bottom: 6px;
    letter-spacing: -.1px;
  }
  &__text {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -.2px;
    color: rgba(0,0,0,.6);
  }
}
.page-body .container table {
  font-size: 16px;
  width: 100%;
  border: 1px solid #b7b7b7;
  color: #000;
  td {
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    padding: 14px 32px 13px 18px;
    width: 50%;
  }
  tr:nth-child(even) {
    background-color: $gray;
  }
  tr {
    td:not(:last-child) {
      border-right: 1px solid #b7b7b7;
    }
  }
  tr {
    td:first-child {
      text-transform: uppercase;
      font-weight: bold;
      text-align: left;
    }
  }
}
.pagination {
  display: flex;
  width: 100%;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #ccc;
    font-weight: 500;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover,
    &.hover {
      color: $green;
      border-color: $green;
    }
    &.active {
      pointer-events: none;
      color: #000;
      background-color: $lightgreen;
      border: 2px solid $lightgreen;
    }
    &.unactive {
      opacity: .4;
      pointer-events: none;
    }
    &.first {
      position: relative;
      svg {
        position: absolute;
        content: '';
        width: 13px;
        height: 15px;
        fill: #ccc;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease;
      }
      &:hover {
        svg {
          fill: $green;
        }
      }
    }
    &.last {
      position: relative;
      svg{
        position: absolute;
        content: '';
        width: 13px;
        height: 15px;
        fill: #ccc;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease;
      }
      &:hover {
        svg {
          fill: $green;
        }
      }
    }
    &.interval {
      pointer-events: none;
      border: none;
    }
    &:not(:last-child) {
      margin-right: 11px;
    }
    span {
      text-align: center;
    }
  }
}
.breadcrums {
  display: flex;
  width: 100%;
  padding-top: 28px;
  &__item {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: $green;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    text-decoration: underline;
    &:hover {
      color: $darkgreen;
    }
    &:after {
      content: '>';
      position: absolute;
      right: -11px;
      top: 0;
      color: #000;
      font-weight: 500;
      text-decoration: none;
    }
    &:not(:last-child) {
      margin-right: 14px;
    }
    &:last-child {
      text-decoration: none;
      pointer-events: none;
      color: #999;
      &:after {
        display: none;
      }
    }
  }
}
.page-body .container ol {
  font-size: 18px;
  line-height: 28px;
  list-style: decimal;
  & > li {
    font-weight: bold;
    padding-left: 16px;
  }
  li {
    position: relative;
  }
  ul,ol{
    padding-top: 6px;
  }
  span {
    font-weight: 300;
  }
}
.page-body .container ul {
  font-size: 18px;
  line-height: 28px;
  li {
    position: relative;
  }
  & > li {
    padding-left: 20px;
    &:before {
      content: '';
      position: absolute;
      top: 12px;
      left: 0;
      background-color: $darkgreen;
      width: 4px;
      height: 4px;
      border-radius: 50%;
    }
  }
  .list {
    padding-top: 6px;
  }
  span {
    font-weight: 300;
  }
}
.page-body .container .list-dash {
  & > li {
    &:before {
      display: none;
    }
    &:after {
      content: '-';
      position: absolute;
      font-weight: bold;
      font-size: 18px;
      top: 0;
      left: 0;
      color: #363636;
    }
  }
}
.dropdown {
  display: inline-block;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  &__item {
    display: flex;
    align-items: center;
    padding: 8px 9px 9px 11px;
    font-size: 12px;
    color: #000;
    border-radius: 4px;
    background-color: $gray;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-bottom: 10px;
    &.hidden {
      display: none;
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:hover,
    &.hover,
    &.active {
      background-color: $lightgreen;
    }
  }
  &__del {
    position: relative;
    i {
      position: relative;
      width: 12px;
      height: 12px;
      display: inline-block;
      flex-shrink: 0;
      margin-left: 7px;
      &:hover {
        svg {
          fill: rgba(0,0,0,1);
        }
      }
      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 8px;
        height: 8px;
        fill: rgba(0,0,0,.6);
      }
    }
  }
}
.posrel {
  position: relative;
}
label.error {
  position: absolute;
  left: 0;
  bottom: -11px;
  color: #ff9898;
  font-size: 8px;
  letter-spacing: 0.05em;
  width: 100%;
  display: block;
  text-align: center;
  &:after {
    content: '';
    position: absolute;
    right: 9px;
    top: -31px;
    width: 18px;
    height: 18px;
    background: url(../img/svg/validation-error.svg) no-repeat center;
  }
}
.link-btn {
  position: relative;
  font-size: 12px;
  text-decoration: underline;
  color: #42a88f;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  &:after {
    content: '';
    z-index: 1;
    position: absolute;
    right: -13px;
    top: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 3px 0 3px;
    border-color: #42a88f transparent transparent transparent;
    -webkit-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
  }
  &:hover {
    text-decoration: none;
  }
}
.footer__wrapper {
  position: relative;
  &:after {
    width: 140px;
    height: 66px;
    content: '';
    position: absolute;
    top: -22px;
    right: 40px;
    background: url(../img/svg/lake.svg) no-repeat center;
    opacity: .2;
    z-index: -1;
  }
}
.preloader {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    background: url(../img/preloader.svg) no-repeat center;
    z-index: 11;
  }
}

.detail__share-item--inst {
  display: none!important;
}

.news-detail {
  padding-top: 20px;
}
.news-detail h3 {
  margin-bottom: 10px;
}
.detail_picture {
  max-width: 350px;
  margin: 10px 20px 10px 0;
  float: left;
}
.news-date-time {
  color:#486DAA;
}

.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.85);
  z-index: 100;
}
.popup-window {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 556px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  z-index: 101;
  flex-direction: column;
  align-items: center;
  padding: 43px 15px 61px;
  border-radius: 4px;
  &.active {
    display: flex;
  }
  h2 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 21px;
    letter-spacing: .5px;
  }
  & > span {
    display: inline-block;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 37px;
    max-width: 330px;
    width: 100%;
  }
  .btn {
    max-width: 295px;
    width: 100%;
  }
  & > i {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 19px;
    top: 19px;
    cursor: pointer;
    svg {
      position: absolute;
      width: 100%;
      height: 100%;
      fill: #f55e00;
    }
  }
}

.page-sort {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  span {
    font-weight: 700;
    margin-right: 15px;
  }
  &__btn {
    border: 1px solid #ebebeb;
    color: #bfbfbf;
    padding: 13px 23px;
    border-radius: 5px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    &:not(:last-child) {
      margin-right: 15px;
    }
    &.active {
      color: #000;
      background-color: #ebebeb;
      pointer-events: none;
    }
  }
}


