.main {
  &__slider-block {
    position: relative;
    min-height: 560px;
    overflow: hidden;
    margin-bottom: 62px;
  }
  &__slider-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    &:before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../img/main-bg.png") no-repeat center;
      background-size: cover;
      z-index: 2;
    }
    &:after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.65);
      z-index: 1;
    }
    .slick-dots {
      position: absolute;
      bottom: 35px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;
      display: flex;
      align-items: flex-start;
      li {
        cursor: pointer;
        flex-shrink: 0;
        padding: 5px 0;
        line-height: 0;
        font-size: 0;
        &:not(:last-child) {
          margin-right: 20px;
        }
        button {
          cursor: pointer;
          font-size: 0;
          color: transparent;
          width: 40px;
          height: 4px;
          border-radius: 20px;
          background-color: #757780;
          -webkit-transition: background-color 0.3s ease;
          transition: background-color 0.3s ease;
          border: 0;
          outline: 0;
        }
        &.slick-active button {
          background-color: #fff;
        }
      }
    }
  }
  &__slider-content {
    position: relative;
    z-index: 2;
    .slick-initialized .slick-slide {
      display: flex;
    }
    .slick-dots {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #fff;
    }
  }
  &__slider-box {
    position: relative;
  }
  &__slider-content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 74px;
  }
  &__slider-title {
    position: relative;
    color: $white;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0;
    margin-bottom: 34px;
    padding-bottom: 41px;
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: 40px;
      height: 4px;
      border-radius: 20px;
      background-color: $lightgreen;
    }
  }
  &__slider-subtitle {
    font-size: 34px;
    color: $white;
    font-weight: 300;
    letter-spacing: -.7px;
    margin-bottom: 52px;
    text-align: center;
  }
  &__slider-btn {
    width: 355px;
    padding: 15px 5px 14px 12px;
    letter-spacing: 3px;
  }
  &__slider-arrows {
    display: inline-block;
    margin-top: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 60px;
    z-index: 3;
    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
    }
    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      fill: $white;
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease;
    }
    &:hover svg{
      fill: $lightgreen;
    }
  }
  &__popular-categories {
    margin-bottom: 60px;
  }
}
.slick-slider {
  margin-bottom: 0!important;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  height: 100%;
}
.popular-categories {
  display: flex;
  justify-content: space-between;
  &__content {
    width: 849px;
    padding-top: 6px;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    &:after {
      content: '';
      width: 100%;
      max-width: 269px;
      height: 0;
      opacity: 0;
    }
  }
  &__content-item {
    position: relative;
    margin-bottom: 20px;
    flex-shrink: 0;
    display: inline-block;
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
    max-width: 269px;
    &:hover {
      .popular-categories__content-text {
        opacity: 0;
      }
      .popular-categories__content-text--hover {
        opacity: 1;
      }
      .popular-categories__content-img {
        &:before {
          opacity: .5;
        }
      }
    }
  }
  &__content-img {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.45);
      z-index: 1;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #a64000;
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      z-index: 2;
      opacity: 0;
    }
  }
  &__content-text {
    position: absolute;
    left: 10px;
    bottom: 7px;
    font-size: 14px;
    font-weight: 600;
    color: $white;
    width: 100%;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    z-index: 3;
    &--hover {
      padding: 0 10px;
      left: 50%;
      top: 50%;
      bottom: auto;
      transform: translate(-50%, -50%);
      font-size: 20px;
      text-align: center;
      opacity: 0;
      -webkit-transition: opacity 0.4s linear;
      transition: opacity 0.4s linear;
    }
  }
  &__btn {
    .popular-categories__content-text--hover {
      opacity: 1;
    }
    .popular-categories__content-img {
      &:before {
        background-color: #00a67c;
        opacity: .5;
      }
    }
    &:hover {
      .popular-categories__content-img {
        &:before {
          background-color: $lightgreen;
          opacity: .7;
        }
      }
    }
  }
  &__aside {
    width: calc(100% - 876px);
  }
  &__aside-title {
    letter-spacing: -.5px;
    margin-bottom: 53px;
  }
  &__aside-tags {
    padding-left: 2px;
    margin: 0 -5px;
    .tags__item {
      margin: 0 5px 10px;
    }
  }
}
.about {
  background: url("../img/about-bg.jpg") no-repeat center;
  background-size: cover;
  min-height: 631px;
  &__wrapper {
    padding-top: 71px;
  }
  &__title {
    text-align: center;
    margin-bottom: 49px;
  }
  &__block {
    display: flex;
    justify-content: space-between;
  }
  &__img {
    position: relative;
    width: 360px;
    height: 360px;
    margin-top: 4px;
    flex-shrink: 0;
    border-radius: 2px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__info {
    width: calc(100% - 390px);
  }
  &__text {
    margin-bottom: 45px;
  }
  &__sponsor {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &__sponsor-item {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      margin-right: 186px;
    }
  }
  &__sponsor-text {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 18px;
  }
  &__sponsor-img {
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &--ukrdim {
      width: 107px;
      height: 77px;
    }
    &--ploskiriv {
      width: 194px;
      height: 79px;
    }
  }
}