.noname {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
  height: 100vh;
  width: 100%;
  h1 {
    text-align: center;
    font-size: 54px;
    color: #393939;
    font-weight: 900;
    padding: 0 0 41px;
    letter-spacing: -.5px;
  }
  &__img {
    position: relative;
    width: 857px;
    height: 524px;
    &:before {
      content: '';
      position: absolute;
      height: 149px;
      width: 2000px;
      background: #f8f8f8;
      top: 61%;
      right: 50%;
    }
    &:after {
      content: '';
      position: absolute;
      height: 149px;
      width: 2000px;
      background: #f8f8f8;
      top: 22%;
      left: 67%;
    }
    img {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__block {
    position: absolute;
    z-index: 2;
    top: 18%;
    p {
      display: block;
      text-align: center;
      font-size: 216px;
      color: #fff;
      font-weight: 700;
      margin: 0;
    }
    span {
      display: block;
      text-align: center;
      font-size: 45px;
      line-height: 1.1;
      color: #f66c17;
      font-weight: 300;
      letter-spacing: 0.04em;
    }
    &.left {
      left: 4%;
    }
    &.right {
      right: 8%;
    }
  }
  .lake {
    position: absolute;
    left: 9%;
    top: 4%;
    width: 177px;
    height: 83px;
    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      fill: #00f6ce;
    }
  }
  .wall {
    position: absolute;
    bottom: 4%;
    right: 29%;
    width: 173px;
    height: 163px;
    svg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
}