.search {
  margin-bottom: 76px;
  &__wrapper {

  }
  &__title {
    text-align: center;
    margin-bottom: 22px;
    padding-top: 28px;
    letter-spacing: 1px;
  }
  &__result {
    margin-bottom: 57px;
  }
  &__result-form {
    display: none;
    position: relative;
    i {
      cursor: pointer;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      svg {
        position: absolute;
        width: 100%;
        height: 100%;
        fill: #000;
        left: 0;
        top: 0;
      }
    }
  }
  &__input-search {
    padding: 17px 14px 16px!important;
  }
  &__input-submit {
    display: none;
  }
  &__result-field {
    background-color: $gray;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 51px;
    border-radius: 2px;
    padding: 0 21px;
  }
  &__result-item {
    position: relative;
    font-size: 18px;
    color: $black;
    padding-left: 20px;
    &:not(:last-child) {
      margin-right: 20px;
    }
    i {
      display: inline-block;
      cursor: pointer;
      position: absolute;
      width: 11px;
      height: 11px;
      left: 0;
      top: 5px;
      transform: rotate(45deg);
      svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        fill: $black;
      }
    }
  }
  &__photo {
    margin-bottom: 75px;
    .popular-categories__content {
      width: 100%;
      padding-top: 0;
      margin-bottom: 19px;
    }
    .btn {
      width: 263px;
    }
  }
  &__photo-title {
    letter-spacing: .6px;
    margin-bottom: 34px;
  }
  &__story {
    margin-bottom: 71px;
    .stories__item-title {
      font-size: 24px;
      letter-spacing: -.3px;
    }
    .stories__content {
      margin-bottom: 0!important;
    }
  }
  &__story-title {
    letter-spacing: .6px;
    margin-bottom: 29px;
  }
  &__source {

  }
  &__source-title {
    letter-spacing: .6px;
    margin-bottom: 30px;
  }
  &__source-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    a {
      display: inline-block;
      margin: 0;
      color: #000;
      letter-spacing: -.2px;
      &:hover {
        color: #286656;
      }
    }
  }
  &__photo-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.search__photo .popular-categories__content.mobile {
  display: none;
}