.source {
  margin-bottom: 80px;
  &__wrapper {

  }
  &__title {
    text-align: center;
    margin-bottom: 44px;
    letter-spacing: 1px;
  }
  &__list-wrapper-scroll {

  }
  &__list-wrapper {
    position: relative;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 69px;
    a {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 700;
      color: #999999;
      -webkit-transition: color 0.2s ease;
      transition: color 0.2s ease;
      &.active {
        color: $green;
      }
      &:hover {
        text-decoration: underline;
        color: $green;
      }
    }
  }
  &__table {
    margin-bottom: 49px;
  }
  &__table-title {
    display: block;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
  }
  &__table-wrapper {
    column-count: 2;
    column-gap: 30px;
    a {
      display: block;
      font-size: 16px;
      color: #000;
      margin: 0;
      letter-spacing: -.25px;
      line-height: 1.4;
      &:hover {
        color: #286656;
        text-decoration: underline;
      }
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    .btn {
      min-width: 303px;
    }
  }
  &__list-btn {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 11px;
    height: 20px;
    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      fill: #000
    }
    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
    }
  }
}