.stories {
  margin-bottom: 81px;
  &__title {
    text-align: center;
    margin-bottom: 36px;
    padding-top: 6px;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 40px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 58px;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    &:hover {
      .stories__item-title {
        color: #286656;
        text-decoration: underline;
      }
    }
    &--img {
      .stories__img {
        display: block;
      }
      .stories__item-title {
        margin-bottom: 19px;
      }
    }
    &:not(:last-child) {
      margin-bottom: 76px;
      &:after {
        content: '';
        position: absolute;
        bottom: -42px;
        left: 0;
        width: 49px;
        height: 6px;
        background: url('../img/pngsprite/ico-stories-after.png') no-repeat center;
      }
    }
  }
  &__img {
    width: 165px;
    height: 114px;
    flex-shrink: 0;
    margin: 6px 30px 0 0;
    display: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__item-title {
    letter-spacing: -.45px;
    margin-bottom: 10px;
    color: #000;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
  }
  &__text {
    letter-spacing: -.07px;
    height: 40px;
    //overflow: hidden;
  }
  &__pagination {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 60px;
    .pagination {
      width: auto;
    }
  }
  &__btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .btn {
      width: 263px;
    }
  }
  &__new {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .addphoto__window {
      width: 360px;
      height: 233px;
    }
  }
  &__new-info {
    display: flex;
    flex-shrink: 0;
    width: calc(100% - 409px);
    flex-direction: column;
    .stories__new-item {
      width: 100%;
    }
    .addphoto__data-name {
      width: 79px;
      padding: 10px 0;
    }
    .addphoto__data-row:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__new-inputs {
    margin-bottom: 41px;
  }
  &__new-textarea {
    min-height: 180px!important;
  }
}