.uikit {
  margin-bottom: 300px;
  &__header {
    padding: 142px 0 30px;
    min-height: 627px;
    background: url(../img/uikit-bg.jpg) no-repeat center $darkgray;
  }
  &__header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;
  }
  &__title {
    margin-bottom: 9px;
    font-size: 80px;
    text-align: right;
    color: $white;

  }
  &__subtitle {
    display: block;
    margin-bottom: 103px;
    font-size: 52px;
    letter-spacing: -1px;
    font-weight: 300;
    text-align: right;
    color: $white;
  }
  &__header-logos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 990px;
  }
  &__logos-item {
    display: flex;
    flex-direction: column;
    &--ukrdim {
      .uikit__logos-img {
        width: 83px;
        height: 86px;
      }
    }
    &--ploskiriv {
      text-align: right;
      .uikit__logos-img {
        position: relative;
        width: 156px;
        height: 82px;
      }
    }
  }
  &__logos-text {
    display: block;
    font-size: 9px;
    letter-spacing: -0.025em;
    color: $white;
  }
  &__logos-img {

    position: relative;
    svg {
      position: absolute;
      left: 0;
      top: 0;
      fill: $white;
      width: 100%;
      height: 100%;
    }
  }
  &__heading-title {
    padding: 96px 0 35px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
  }
  &__menublock {

  }
  &__colors {

  }
  &__colors-wrapper {
    display: flex;
  }
  &__colors-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__colors-block {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 4px;
    &--lightgreen {
      background-color: $lightgreen;
    }
    &--green {
      background-color: $green;
    }
    &--darkgreen {
      background-color: $darkgreen;
    }
    &--orange {
      background-color: $orange;
    }
    &--white {
      border: 1px solid rgba(206, 206, 206,.5);
      background-color: $white;
    }
    &--lightgray {
      border: 1px solid rgba(206, 206, 206,.5);
      background-color: $lightgray;
    }
    &--gray {
      background-color: $gray;
    }
    &--darkgray {
      background-color: $darkgray;
    }
    &--lightblack {
      background-color: $lightblack;
    }
    &--black {
      background-color: $black;
    }
  }
  &__colors-text {
    width: 100%;
    color: #000;
    font-weight: 300;
    text-align: center;
  }
  &__btns {

  }
  &__btns-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__btns-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 0 34px 0 20px;
  }
  &__btns-item {
    width: 100%;
    max-width: 360px;
    &--login {
      background-color: $darkgray;
      border-radius: 20px;
      padding: 40px 30px;
      margin-top: -40px;
      .uikit__btns-info {
        color: $white;
      }
      .header__login-btn {
        width: 100%;
      }
      .login-btn {
        font-size: 18px;
        border-radius: 31px;
        padding: 14px 12px 12px;
      }
    }
  }
  &__btns-content {
    &:not(:last-child) {
      margin-bottom: 57px;
    }
  }
  &__text {

  }
  &__text-wrapper {
    max-width: 610px;
    width: 100%;
  }
  &__userpic {
    
  }
  &__userpic-wrapper {
    display: inline-block;
    border-radius: 20px;
    background-color: $lightblack;
    padding: 37px 44px 37px 40px;
  }
  &__headings {

  }
  &__headings-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__headings-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex: 1;
  }
  &__headings-name {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-bottom: 17px;
  }
  &__quote {

  }
  &__quote-wrapper {
    max-width: 665px;
    width: 100%;
  }
  &__form{

  }
  &__form-wrapper{
    width: 458px;
  }
  &__radiobutton {

  }
  &__radiobutton-wrapper {
    .radiobutton__wrapper {
      &:not(:last-child) {
        margin-right: 132px;
      }
    }
  }
  &__comments {

  }
  &__comments-wrapper {

  }
  &__checkbox {
    .checkbox {
      display: flex;
      justify-content: space-between;
    }
    .checkbox__wrapper {
      width: 100%;
    }
  }
  &__checkbox-wrapper {

  }
  &__table {

  }
  &__table-wrapper {

  }
  &__links {

  }
  &__links-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 705px;
  }
  &__links-item {
    display: flex;
    flex-direction: column;
    a {
      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }
  }
  &__breadcrums {

  }
  &__breadcrums-wrapper {

  }
  &__list {

  }
  &__list-wrapper {

  }
  &__dropdowns {

  }
  &__dropdowns-wrapper {

  }
  &__scroll {

  }
  &__scroll-wrapper {
    .test-scroll-wrapper {
      height: 170px;
      width: 15px;
      .test-scroll-block {
        height: 400px;
        width: 100%;
        background-color: #ccc;
      }
    }
  }
}

.start {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a {
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    &:hover {
      color: $darkgreen;
    }
  }
}
