.footer {
  min-height: 103px;
  background: url("../img/footer-bg.jpg") no-repeat center;
  background-size: cover;
  &__wrapper {
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__logo {
    position: relative;
    display: inline-block;
    width: 118px;
    height: 70px;
    flex-shrink: 0;
    margin-top: 4px;
    svg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      fill: #fff;
    }
    span {
      font-size: 16px;
      font-weight: 800;
      color: #fff;
      width: 100%;
      text-align: center;
      display: none;
    }
  }
  &__center {
    display: flex;
    margin-left: 11px;
  }
  &__menu {
    display: flex;
    margin-right: 151px;
  }
  &__submenu {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      margin-right: 80px;
    }
    a {
      font-size: 16px;
      line-height: 24px;
      color: $white;
      -webkit-transition: color 0.3s ease;
      transition: color 0.3s ease;
      letter-spacing: -.4px;
      &:hover {
        color: $lightgreen;
        text-decoration: underline;
      }
    }
  }
  &__sponsors {
    display: flex;
    padding-top: 10px;
  }
  &__sponsors-item {
    position: relative;
    &:not(:last-child) {
      margin-right: 66px;
    }
    &--ukrdim {
      width: 65px;
      height: 51px;
    }
    &--ploskiriv {
      width: 126px;
      height: 50px;
    }
    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      fill: $white;
    }
  }
  &__soc {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  &__soc-title {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 14px;
    color: $white;
    font-weight: 500;
    letter-spacing: -.2px;
  }
  &__soc-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__soc-item {
    display: inline-block;
    position: relative;
    svg {
      position: absolute;
      fill: $white;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: fill 0.3s ease;
      transition: fill 0.3s ease;
    }
    &:not(:last-child) {
      margin-right: 25px;
    }
    &--fb {
      width: 9px;
      height: 17px;
    }
    &--inst {
      width: 18px;
      height: 18px;
    }
    &--yt {
      width: 17px;
      height: 12px;
    }
    &:hover {
      svg {
        fill: $lightgreen;
      }
    }
  }
}