.header {
  position: relative;
  background-color: $lightblack;
  min-height: 110px;
  padding: 18px 0 0;
  z-index: 5;
  &.authorized {
    .header__login {
      display: none;
    }
    .header__authorized {
      display: block;
    }
  }
  &__authorized {
    display: none;
    padding: 18px 31px 0 0;
  }
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__wrapper-left {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 888px;
  }
  &__wrapper-right {
    width: calc(100% - 888px);
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: flex-start;
  }
  &__logo {
    margin-top: 6px;
    position: relative;
    display: inline-block;
    width: 119px;
    height: 68px;
    flex-shrink: 0;
    svg {
      width: 100%;
      height: 100%;
      fill: $white;
    }
  }
  &__content {
    width: 100%;
    max-width: 702px;
    flex-shrink: 0;
  }
  &__content-bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__search {
    width: 100%;
    max-width: 632px;
    flex-shrink: 0;
    position: relative;
  }
  &__search-input {
    border: none!important;
    padding: 10px 14px!important;
  }
  &__search-submit {
    position: absolute;
    right: 15px;
    top: 10px;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 16px;
    height: 16px;
    svg {
      position: absolute;
      width: 100%;
      height: 100%;
      fill: #000;
    }
    &--mobile {
      display: none;
      top: 2px;
      right: 1px;
      svg {
        fill: #fff;
      }
    }
  }
  &__search-close {
    display: none;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    svg {
      fill: $white;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__lang {
    position: relative;
    padding-top: 10px;
    &:hover {
      .header__lang-list {
        display: block;
      }
      .header__lang-link {
        pointer-events: none;
        color: #000;
        &:after {
          transform: rotate(-180deg);
          border-color: #000 transparent transparent transparent;

        }
      }
    }
  }
  &__lang-link {
    position: relative;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    padding-right: 19px;
    z-index: 2;
    transition: color 0.2s ease;
    &:after {
      content: '';
      z-index: 1;
      position: absolute;
      right: 0;
      top: 5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      border-color: $white transparent transparent transparent;
      -webkit-transition: transform 0.4s ease;
      transition: transform 0.4s ease;
    }
  }
  &__lang-list {
    display: none;
    position: absolute;
    left: -16px;
    top: 0;
    background-color: #f2f2f2;
    z-index: 1;
    padding-top: 41px;
    border-radius: 2px;
    overflow: hidden;
    li {

    }
    a {
      text-transform: uppercase;
      color: #000;
      font-size: 16px;
      height: 41px;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 39px 0 16px;
      -webkit-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease;
      &:hover {
        background-color: $lightgreen;
      }
    }
  }
  &__login {
    flex-shrink: 0;
    margin-top: 16px;
    width: 165px;
  }
  &__menu {
    display: none;
    width: 35px;
    flex-shrink: 0;
    height: 27px;
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 50%;
      background: #fff;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }

    span:nth-child(even) {
      left: 50%;
    }

    span:nth-child(odd) {
      left:0;
    }

    span:nth-child(1), span:nth-child(2) {
      top: 0;
    }

    span:nth-child(3), span:nth-child(4) {
      top: 12px;
    }

    span:nth-child(5), span:nth-child(6) {
      top: 24px;
    }

    &.open span:nth-child(1),&.open span:nth-child(6) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &.open span:nth-child(2),&.open span:nth-child(5) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &.open span:nth-child(1) {
      left: 5px;
      top: 8px;
    }

    &.open span:nth-child(2) {
      left: calc(50% - 5px);
      top: 8px;
    }

    &.open span:nth-child(3) {
      left: -50%;
      opacity: 0;
    }

    &.open span:nth-child(4) {
      left: 100%;
      opacity: 0;
    }

    &.open span:nth-child(5) {
      left: 5px;
      top: 16px;
    }

    &.open span:nth-child(6) {
      left: calc(50% - 5px);
      top: 16px;
    }
  }
  &__logo-mobile {
    display: none;
    font-size: 24px;
    font-weight: 800;
    color: $white;
  }
  &__info-mobile {
    display: none;
    width: 100%;
    height: 63px;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 0 15px;
    background-color: $lightblack;
  }
  .header__info-mobile-container {
    border-top: 1px solid #515151;
  }
}
.menu {
  width: 100%;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &__item {

  }
  &__link {
    display: inline-block;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -.3px;
    color: $white;
    &:hover,
    &.active {
      color: $lightgreen;
    }
  }
  &__submenu {
    position: relative;
    .menu__link {
      position: relative;
      padding-right: 18px;
      z-index: 2;
    }
    &:after {
      content: '';
      z-index: 1;
      position: absolute;
      right: 2px;
      top: 7px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      border-color: $white transparent transparent transparent;
      -webkit-transition: transform 0.4s ease;
      transition: transform 0.4s ease;
    }
    &:hover {
      .menu__sublist {
        display: block;
      }
      &:after {
        transform: rotate(-180deg);
      }
    }
  }
  &__sublist {
    display: none;
    position: absolute;
    left: -16px;
    top: 28px;
    background-color: #f2f2f2;
    z-index: 3;
    width: 202px;
    border-radius: 2px;
    overflow: hidden;
    li {

    }
  }
  &__sublist-link {
    font-size: 14px;
    color: $black;
    padding: 0 16px;
    font-weight: 300;
    letter-spacing: -.2px;
    width: 100%;
    min-height: 41px;
    display: flex;
    align-items: center;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: $lightgreen;
    }
  }
}
.mobile-lng {
  display: none;
}
.slick-initialized .slick-slide {
  object-fit: cover;
}