.popup {
  opacity: 0;
  width: 100%;
  height: 670px;
  background: url("../img/popup-bg.jpg") no-repeat center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  transform: translateY(-100%);
  &.active {
    transform: translateY(0);
    opacity: 1;
  }
  &__wrapper {
    position: relative;
  }
  &__close {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 39px;
    width: 30px;
    height: 30px;
    svg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      fill: $white;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    &:hover {
      svg {
        fill: $lightgreen;
      }
    }
  }
  &__item {
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    &.active {
      display: flex;
    }
  }
  &__login {
    padding-top: 102px;
  }
  &__restore {
    padding-top: 139px;
    .popup__input-wrapper {
      margin-bottom: 59px;
    }
  }
  &__register {
    padding-top: 53px;
    .popup__title {
      margin-bottom: 40px;
    }
    .popup__input-wrapper {
      margin-bottom: 30px;
    }
    .popup__btn {
      margin-bottom: 58px;
    }
  }
  &__content {
    max-width: 355px;
    width: 100%;
  }
  &__title {
    text-align: center;
    font-size: 42px;
    font-weight: 800;
    color: $white;
    margin-bottom: 9px;
  }
  &__subtitle {
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: $white;
    letter-spacing: -.3px;
    margin-bottom: 45px;
  }
  &__form {

  }
  &__recaptcha {
    width: 100%;
    height: 84px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
  }
  &__input-wrapper {
    padding: 0 10px;
    margin-bottom: 39px;
    & > div {
      position: relative;
      text-align: center;
      &:not(:last-of-type) {
        margin-bottom: 14px;
      }
    }
    input {
      font-size: 16px;
      text-align: center;
      border: none!important;
      padding: 13px 14px 12px;
    }
  }
  &__btn {
    margin-bottom: 7px;
  }
  &__links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 29px;
    margin-bottom: 57px;
  }
  &__links-item {
    font-size: 13px;
    font-weight: 300;
    color: #dbdbdb;
    text-decoration: underline;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    letter-spacing: -.2px;
    &:hover {
      color: #43fecf;
      text-decoration: none;
    }
  }
  &__soc {

  }
  &__soc-title {
    display: block;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    letter-spacing: -.3px;
    margin-bottom: 12px;
  }
  &__soc-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  &__soc-item {
    position: relative;
    width: 35px;
    height: 35px;
    &:not(:last-child) {
      margin-right: 15px;
    }
    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      fill: $white;
      -webkit-transition: fill .3s ease;
      transition: fill .3s ease;
    }
    &:hover {
      svg {
        fill: $lightgreen;
      }
    }
  }
}